<div class="container">

    <div class="panel-group" class="positioning">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>Schedule</h1></div>
        </div>
    </div>


    <div class="well">

        <table class="table table-bordered">
            <thead>
            <tr>
                <td colspan="6" class="text-center"><h3>Office Hours - Davis 302</h3></td>
            </tr>
            </thead>
            <tbody class="text-center">

            <tr>
                <td width="10%"></td>
                <td width="18%" class="active">Monday</td>
                <td width="18%" class="active">Tuesday</td>
                <td width="18%" class="active">Wednesday</td>
                <td width="18%" class="active">Thursday</td>
                <td width="18%" class="active">Friday</td>
            </tr>


            <tr>
                <td class="active">9am - 10am</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Sam</td>
            </tr>

            <tr>
                <td class="active">10am - 11am</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">11am - 12pm</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">12pm - 1pm</td>
                <td>Lecture (NSC 215)</td>
                <td>Vincent</td>
                <td>Lecture (NSC 215)</td>
                <td>Vincent</td>
                <td>Lecture (NSC 215)</td>
            </tr>

            <tr>
                <td class="active">1pm - 2pm</td>
                <td></td>
                <td>Vincent</td>
                <td></td>
                <td>Vincent</td>
                <td></td>
            </tr>

            <tr>
                <td class="active">2pm - 3pm</td>
                <td>Vincent</td>
                <td></td>
                <td></td>
                <td></td>
                <td>Vincent</td>
            </tr>

            <tr>
                <td class="active">3pm - 4pm</td>
                <td>Vincent</td>
                <td></td>
                <td>Sam</td>
                <td></td>
                <td>Vincent</td>
            </tr>

            <tr>
                <td class="active">4pm - 5pm</td>
                <td></td>
                <td></td>
                <td>Sam</td>
                <td>Abhishek</td>
                <td></td>
            </tr>

            <tr>
                <td class="active">5pm - 6pm</td>
                <td></td>
                <td></td>
                <td></td>
                <td>Abhishek</td>
                <td>Sam</td>
            </tr>

            <tr>
                <td class="active">6pm - 7pm</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">7pm - 8pm</td>
                <td>David</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">8pm - 9pm</td>
                <td>David</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">9pm - 10pm</td>
                <td></td>
                <td>Jesse</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">10pm - 11pm</td>
                <td></td>
                <td>Jesse</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">11pm - 12am</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            </tbody>
        </table>


        <table class="table table-bordered">
            <thead>
            <tr>
                <td colspan="6" class="text-center"><h3>Recitations</h3></td>
            </tr>
            </thead>
            <tbody class="text-center">

            <tr>
                <td width="10%"></td>
                <td width="18%" class="active">Monday</td>
                <td width="18%" class="active">Tuesday</td>
                <td width="18%" class="active">Wednesday</td>
                <td width="18%" class="active">Thursday</td>
                <td width="18%" class="active">Friday</td>
            </tr>


            <tr>
                <td class="active">8am - 9am</td>
                <td></td>
                <td>A1 - Sam (Cooke 248)</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">9am - 10am</td>
                <td></td>
                <td>A6 - Sam (Hoch 139)</td>
                <td></td>
                <td></td>
                <td>A4 - Abhishek (Talbert 103)</td>
            </tr>

            <tr>
                <td class="active">10am - 11am</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">11am - 12pm</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">12pm - 1pm</td>
                <td>Lecture (NSC 215)</td>
                <td></td>
                <td>Lecture (NSC 215)</td>
                <td></td>
                <td>Lecture (NSC 215)</td>
            </tr>

            <tr>
                <td class="active">1pm - 2pm</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">2pm - 3pm</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">3pm - 4pm</td>
                <td>A5 - Abhishek (Bell 138)</td>
                <td></td>
                <td></td>
                <td>A3 - Lakshmi (Hoch 139)</td>
                <td></td>
            </tr>

            <tr>
                <td class="active">4pm - 5pm</td>
                <td></td>
                <td></td>
                <td>A2 - Abhishek (Cooke 248)</td>
                <td></td>
                <td></td>
            </tr>

            </tbody>
        </table>


        <table class="table table-bordered">
            <thead>
            <tr>
                <td colspan="6" class="text-center"><h3>Topics</h3></td>
            </tr>
            </thead>
            <tbody>
            <!--<tr>-->
            <!--<td>Date</td> <td>Topic</td> <td>Links</td> <td>Notes</td>-->
            <!--</tr>-->
            <tr class="active">
                <td colspan="3"><b>Week 1</b><span class="pull-right">January 25 - January 29</span></td>
            </tr>

            <tr>
                <td width="10%"></td>
                <td colspan="2">Introduction</td>
            </tr>

            <tr>
                <td></td>
                <td colspan="2">C++ Basics</td>
            </tr>

            <tr>
                <td></td>
                <td colspan="2">C++ Functions and References</td>
            </tr>


            <tr class="active">
                <td colspan="3"><b>Week 2</b><span class="pull-right">February 1 - February 5</span></td>
            </tr>

            <tr>
                <td></td>
                <td colspan="2">C++ Classes and Inheritance</td>
            </tr>

            <tr>
                <td></td>
                <td colspan="2">C++ Pointers, References, and Memory</td>
            </tr>

            <tr class="warning">
                <td colspan="3" style="text-align: center"><b style="color:#777700">HW0 Due</b>
                    <b>Friday, February 5 @ 2 hours after 11:59pm </b> (2am Saturday morning)
                </td>
            </tr>

            <tr class="active">
                <td colspan="3"><b>Week 3</b><span
                        class="pull-right">February 8 - February 12</span></td>
            </tr>


            <tr>
                <td></td>
                <td colspan="2">Asymptotic Notation</td>
            </tr>

            <tr>
                <td></td>
                <td colspan="2">Growth of Functions</td>
            </tr>


            <tr>
                <td></td>
                <td colspan="2">Recursion</td>
            </tr>


            <tr class="active">
                <td colspan="3"><b>Week 4</b>
                    <span class="pull-right">February 15 - February 19</span></td>
            </tr>

            <tr>
                <td></td>
                <td colspan="2">Array, Vector</td>
            </tr>


            <tr>
                <td></td>
                <td colspan="2">List, Stack, Queue</td>
            </tr>


            <tr>
                <td></td>
                <td colspan="2">Sorting</td>
            </tr>


            <tr class="warning">
                <td colspan="3" style="text-align: center">
                    <b style="color:#777700">HW1 Due</b>
                    <b>Friday, February 19 @ 2 hours after 11:59pm </b> (2am Saturday morning)
                </td>
            </tr>


            <tr class="active">
                <td colspan="3"><b>Week 5</b><span class="pull-right">February 22 - February 26</span></td>
            </tr>


            <tr>
                <td></td>
                <td colspan="2">Set, Map Usage</td>
            </tr>




            <tr class="active">
                <td colspan="3"><b>Week 6</b><span class="pull-right">February 29 - March 4</span></td>
            </tr>


            <tr class="warning">
                <td colspan="3" style="text-align: center">
                    <b style="color:#777700">HW2 Due</b>
                    <b>Tuesday, March 1 @ 2 hours after 11:59pm </b> (2am Wednesday morning)
                </td>
            </tr>

            <tr>
                <td></td>
                <td colspan="2">Set, Map, Tree</td>
            </tr>


            <tr class="active">
                <td colspan="3"><b>Week 7</b><span class="pull-right">March 7 - March 11</span>
                </td>
            </tr>


            <tr>
                <td></td>
                <td colspan="2">Self-Balancing Trees</td>
            </tr>


            <tr class="warning">
                <td colspan="3" style="text-align: center">
                    <b style="color:#777700">HW3 Due</b>
                    <b>Friday, March 11 @ 2 hours after 11:59pm </b> (2am Saturday morning)
                </td>
            </tr>

            </tbody>
            </table>

        <table class="table table-bordered">
            <tbody>

            <tr class="info">
                <td colspan="3"><b>Week 8: Spring Break!</b><span class="pull-right">March 14 - March 18</span></td>
            </tr>

            </tbody>
        </table>

        <table class="table table-bordered">
            <tbody>

            <tr class="active">
                <td colspan="3"><b>Week 9</b><span class="pull-right">March 21 - March 25</span>
                </td>
            </tr>


            <tr>
                <td width="10%"></td>
                <td colspan="2">Python</td>
            </tr>

            <tr class="active">
                <td colspan="3"><b>Week 10</b><span class="pull-right">March 28 - April 1</span></td>
            </tr>


            <tr>
                <td></td>
                <td colspan="2">Hash Table</td>
            </tr>

            <tr class="active">
                <td colspan="3"><b>Week 11</b><span class="pull-right">April 4 - April 8</span></td>
            </tr>

            <tr>
                <td></td>
                <td colspan="2">Heap</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">Priority Queue</td>
            </tr>


            <tr class="warning">
                <td colspan="3" style="text-align: center">
                    <b style="color:#777700">HW4 Due</b>
                    <b>Friday, April 8 @ 2 hours after 11:59pm </b> (2am Saturday morning)
                </td>
            </tr>

            <tr class="active">
                <td colspan="3"><b>Week 12</b><span class="pull-right">April 11 - April 15</span>
                </td>
            </tr>

            <tr>
                <td></td>
                <td colspan="2">Trie</td>
            </tr>

            <tr>
                <td></td>
                <td colspan="2">B-tree</td>
            </tr>


            <tr class="active">
                <td colspan="3"><b>Week 13</b><span class="pull-right">April 18 - April 22</span></td>
            </tr>


            <tr>
                <td></td>
                <td colspan="2">Graph</td>
            </tr>

            <tr class="warning">
                <td colspan="3" style="text-align: center">
                    <b style="color:#777700">HW5 Due</b>
                    <b>Friday, April 22 @ 2 hours after 11:59pm </b> (2am Saturday morning)
                </td>
            </tr>

            <tr class="active">
                <td colspan="3"><b>Week 14</b><span class="pull-right">April 25 - April 29</span></td>
            </tr>

            <tr>
                <td></td>
                <td colspan="2">Graph Algorithms</td>
            </tr>

            <tr class="active">
                <td colspan="3"><b>Week 15</b><span class="pull-right">May 2 - May 6</span></td>
            </tr>

            <tr>
                <td></td>
                <td colspan="2">Interview Questions</td>
            </tr>

            <tr class="warning">
                <td colspan="3" style="text-align: center">
                    <b style="color:#777700">HW6 Due</b>
                    <b>Friday, May 6 @ 2 hours after 11:59pm </b> (2am Saturday morning)
                </td>
            </tr>


            <tr>
                <td colspan="3"><b>Final Exam</b><span class="pull-right">May 11 @ 11:45am-2:45pm NSC215</span></td>
            </tr>

        </table>

    </div>
</div>