<div class="container">


    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>Syllabus</h1></div>
        </div>
    </div>

    <div class="well outer-well">

        <div class="well">
            <div><h2>Academic Integrity</h2></div>
            <br/>
            CSE Department Academic Integrity Policy: <a
                href="http://www.cse.buffalo.edu/undergrad/policy_academic.php">
            http://www.cse.buffalo.edu/undergrad/policy_academic.php</a>

            <br/><br/>

            All submitted work must be of your own creation and you must not share your submission with anyone else. If
            any submission is very similar to code that has been submitted by another student
            or can be found online, it is in violation of this courses academic integrity policy and all students will
            be penalized whether they were cheating, or sharing their code with other students so they can cheat. If two
            submissions are similar beyond what is likely if the students worked independently, then both students are
            in
            violation of the academic integrity policy.
            <br/><br/>
            All violations will be result in:
            <br/><br/>
            <!--<h3 style="color:red">An F in CSE250.</h3>-->

            <div class="row">
                <div class="col-sm-4">
                    <div class="text-center alert alert-danger">
                        <h3 style="color:red">An F in CSE250.</h3>
                    </div>
                </div>
                <div class="col-sm-8"></div>
            </div>
            <br/>
            It is your responsibility to understand what constitutes an academic integrity violation. If you have
            any question whether something you are doing is a violation or not, ask for
            clarification <b>before receiving an F in the course</b>. I will not entertain excuses after you
            have been caught.

            <br/><br/>
            Examples of acceptable behavior:
            <ul>
                <li>Discussing an assignment with your classmates and brainstorming abstract solutions, then writing
                    code independently.
                </li>
                <li>Searching the Internet for supplementary material on the homework topics.</li>
                <li>Asking the teaching staff for clarification on a homework question.</li>
            </ul>


            Examples of <b>un</b>acceptable behavior:
            <ul>
                <li>Submitting code that you did not write.</li>
                <li>Allowing another student to see your code for an assignment.</li>
                <li>Collaborating with another student to write code together for an assignment.</li>
                <li>Allowing another student to access your code. (Example: Do not host your code in a public
                    repository)
                </li>
                <li>Copying a large amount of code found on the Internet into your submission.</li>
            </ul>

        </div>


        <div class="well">
            <div><h2>Grading</h2></div>
            <br/>
            <div class="alert alert-warning">
                There is no curve for this course. There will be no changes to the grading policies or grade cutoffs
                throughout
                the semester.
            </div>

            All grading will be out of 4 points and final grades will be the average of all grades based on their
            weight.
            Final letter grades will be determined by the following cutoffs:
            <br/><br/>

            <table class="table table-bordered table-skinny">
                <tr>
                    <td>> 3.66</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>3.34-3.66</td>
                    <td>A-</td>
                </tr>
                <tr>
                    <td>3.00-3.33</td>
                    <td>B+</td>
                </tr>
                <tr>
                    <td>2.67-2.99</td>
                    <td>B</td>
                </tr>
                <tr>
                    <td>2.34-2.66</td>
                    <td>B-</td>
                </tr>
                <tr>
                    <td>2.00-2.33</td>
                    <td>C+</td>
                </tr>
                <tr>
                    <td>1.67-1.99</td>
                    <td>C</td>
                </tr>
                <tr>
                    <td>1.34-1.66</td>
                    <td>C-</td>
                </tr>
                <tr>
                    <td>1.00-1.33</td>
                    <td>D</td>
                </tr>
                <tr>
                    <td>< 1.00</td>
                    <td>F</td>
                </tr>
            </table>

            Final grades will be computed with one of the following weightings:
            <br/><br/>
            <div class="row">
                <div class="col-sm-3">
                    <table class="table table-bordered table-skinny">
                        <th class="text-center" colspan="2">Option 1</th>
                        <tr>
                            <td>Homework</td>
                            <td>100%</td>
                        </tr>
                        <tr>
                            <td>Final Exam</td>
                            <td>0%</td>
                        </tr>
                    </table>
                </div>

                <div class="col-sm-3">
                    <table class="table table-bordered table-skinny">
                        <th class="text-center" colspan="2">Option 2</th>
                        <tr>
                            <td>Homework</td>
                            <td>80%</td>
                        </tr>
                        <tr>
                            <td>Final Exam</td>
                            <td>20%</td>
                        </tr>
                    </table>
                </div>

                <div class="col-sm-3">
                    <table class="table table-bordered table-skinny">
                        <th class="text-center" colspan="2">Option 3</th>
                        <tr>
                            <td>Homework</td>
                            <td>60%</td>
                        </tr>
                        <tr>
                            <td>Final Exam</td>
                            <td>40%</td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-3"></div>
            </div>

            The option that maximizes your grade will automatically
            be applied when computing your final grade. <br/><br/>

            <div><h4>Homework</h4></div>
            <div class="alert alert-warning">No late homework will be accepted. Late submissions will result in a grade
                of 0.
            </div>
            There will be 6 homework assignments in this course. Each homework will take a significant amount
            of time and the later assignments will be much more involved than the earlier assignments. You are
            responsible for managing your time accordingly.
            <br/><br/>
            The Homework component of your grade will be computed with one of the following weightings:
            <br/><br/>
            <br/><br/>
            <div class="row">
                <div class="col-sm-4">
                    <table class="table table-bordered table-skinny">
                        <th class="text-center" colspan="2">Option 1</th>
                        <tr>
                            <td>Homework 0</td>
                            <td>5%</td>
                        </tr>
                        <tr>
                            <td>Homework 1</td>
                            <td>10%</td>
                        </tr>
                        <tr>
                            <td>Homework 2</td>
                            <td>15%</td>
                        </tr>
                        <tr>
                            <td>Homework 3</td>
                            <td>15%</td>
                        </tr>
                        <tr>
                            <td>Homework 4</td>
                            <td>15%</td>
                        </tr>
                        <tr>
                            <td>Homework 5</td>
                            <td>20%</td>
                        </tr>
                        <tr>
                            <td>Homework 6</td>
                            <td>20%</td>
                        </tr>
                    </table>

                </div>
                <div class="col-sm-4">
                    <table class="table table-bordered table-skinny">
                        <th class="text-center" colspan="2">Option 2</th>
                        <tr>
                            <td>Homework 0</td>
                            <td>0%</td>
                        </tr>
                        <tr>
                            <td>Homework 1</td>
                            <td>5%</td>
                        </tr>
                        <tr>
                            <td>Homework 2</td>
                            <td>10%</td>
                        </tr>
                        <tr>
                            <td>Homework 3</td>
                            <td>10%</td>
                        </tr>
                        <tr>
                            <td>Homework 4</td>
                            <td>20%</td>
                        </tr>
                        <tr>
                            <td>Homework 5</td>
                            <td>25%</td>
                        </tr>
                        <tr>
                            <td>Homework 6</td>
                            <td>30%</td>
                        </tr>
                    </table>
                </div>

                <div class="col-sm-4"></div>
            </div>


            The option that maximizes your grade will automatically
            be applied when computing your final grade.

            <br/><br/>


            <div><h4>Final Exam</h4></div>

            The only exam in this course will be the final exam. It will be averaged into final grades based on the
            distributions above.

        </div>
        <div class="well">
            <div><h2>Contact Information</h2></div>
            <br/>
            We will use the course <a href="?Piazza.html">Piazza</a> to answer any questions and to post announcements.

            <br/><br/>

            Instructor: Jesse Hartloff<br/>
            Office: Davis 344<br/>
            Email: hartloff@buffalo.edu

        </div>
        <div class="well">
            <div><h2>Lectures</h2></div>
            <br/>
            MWF 12:00 - 12:50pm, NSC 215
        </div>
        <div class="well">

            <div><h2>Course Description</h2></div>
            <br/>
            <a href="http://undergrad-catalog.buffalo.edu/coursedescriptions/index.php?frm_abbr=CSE&frm_num=250">Catalog
                Description</a>
            <br/><br/>
            Course topics will include:
            
            <ul>
                <li>Introduction to C++</li>
                <li>Asymptotic Notation</li>
                <li>Recursion</li>
                <li>Iterators</li>
                <li>Array, Vector, List, Stack, and Queue</li>
                <li>Set, Map, and Tree</li>
                <li>Hash Table</li>
                <li>Heap, Priority Queue</li>
                <li>Graph</li>
            </ul>


            For the most current list of topics, see the course <a href="?schedule.html">schedule</a>.

        </div>
        <div class="well">
            <div><h2>Resources</h2></div>
            <br/>
            <b>There is no required textbook for this course.</b> Links to online tutorials and references will
            be provided where appropriate. Below are some suggestions if you prefer textbooks.
            <br/><br/>
            Course textbook:
            
            <ul>
                <li>
                    <a href="http://www.amazon.com/gp/product/0470383275/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0470383275&linkCode=as2&tag=bk06d-20">
                        Data Structures and Algorithms in C++</a></li>
                <li>
                    <a href="http://www.amazon.com/Objects-Abstraction-Data-Structures-Design/dp/0471467553/ref=sr_1_12?s=books&ie=UTF8&qid=1440421875&sr=1-12&keywords=data+structures+c%2B%2B">
                        Objects, Abstraction, Data Structures and Design: Using C++</a></li>
            </ul>
            C++ references:
            
            <ul>
                <li>
                    <a href="http://www.amazon.com/Primer-Plus-6th-Developers-Library/dp/0321776402/ref=sr_1_1?ie=UTF8&qid=1441124057&sr=8-1&keywords=c%2B%2B+primer+plus">
                        C++ Primer Plus</a></li>
                <li>
                    <a href="http://www.amazon.com/Primer-5th-Stanley-B-Lippman/dp/0321714113/ref=sr_1_1?s=books&ie=UTF8&qid=1440422971&sr=1-1&keywords=c%2B%2B+primer">
                        C++ Primer</a></li>
                <li>
                    <a href="http://www.amazon.com/C-Programming-Language-4th/dp/0321563840/ref=sr_1_1?s=books&ie=UTF8&qid=1440422923&sr=1-1&keywords=c%2B%2B">
                        The C++ Programming Language</a></li>
            </ul>

        </div>
        <div class="well">
            <div><h2>University/Department Policies and Services</h2></div>

            <ul>
                <li>Counseling: <a href="http://www.student-affairs.buffalo.edu/shs/ccenter">http://www.student-affairs.buffalo.edu/shs/ccenter/</a>
                </li>
                <li>Disabilities: <a href="http://www.student-affairs.buffalo.edu/ods/">http://www.student-affairs.buffalo.edu/ods/</a>
                </li>
                <li>Grading: <a href="http://undergrad-catalog.buffalo.edu/policies/grading/explanation.shtml">http://undergrad-catalog.buffalo.edu/policies/grading/explanation.shtml</a>
                </li>
            </ul>
        </div>
    </div>
</div>