.jumbotron {
    margin-top: 25px;
    color: #ffffff;
    background-color: #000080;
    text-shadow: black 0.2em 0.2em 0.2em;
}

.table-skinny{
    width: auto;
}

kbd{
    /*color:#00cc00;*/
    color: #c4c4c4;
    background-color:#202020;
}

/*code{*/
    /*color: #155db9;*/
    /*background-color: #f4f7f7;*/
/*}*/

/*.well > .code-well{*/
    /*background: #f4f7f7;*/
/*}*/

code{
    color: #f5f5f5;
    /*background-color: #030089;*/
    background-color: #155db9;
}

.well > .code-well{
    font-weight: bold;
    background: #155db9;
}

.well{
    background: white;
    /*background: #fafafa;*/
}

.outer-well {
    border: 1px solid black;
}

.panel > .panel-heading {
    background-color: #0300b9;
    /*background-color: #156ad2;*/
    color: #ffffff;
}

div.header{
    text-align: center;
    background-color: #156ad2;
    color: #ffffff;
}

body.outer{
    /*background-color: #1591ff;*/
    background-color: #f4f7f7;
}

html.outer, body.outer {
    height: 100%;
    /*overflow:hidden;*/
}

iframe.primary{
    position: absolute;
    height: 100%;
    width: 100%;
}

.navbar-default {
    border-radius: 0;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

.midalign{
	text-align:center;
}
#immovable{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index:1;
}
.positioning{
	position:absolute;
	top:72px;
	left:365px;
}
.zindexhead{
	z-index:0;
}
ul.resources{
	font-size:2em;
}
th{
	text-align:center;
}
textarea{
	font-size:21px;
}

body {
    padding-top: 65px;
}
.tab{
	margin-left:40px;
}
img.center{
	align:center;
}
#home:hover {
   color: transparent
}
#home:hover .containsText{
	display:none;
}

/* navbar colors generated by
http://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0
with modifications */

.navbar-default {
    background-color: #030089;
    border-color: #030089;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #eeeeee;
}
.navbar-default .navbar-text {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #e0e0e0;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #156ad2;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #e0e0e0;
    background-color: #030089;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #156ad2;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #156ad2;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #156ad2;
}
.navbar-default .navbar-toggle {
    border-color: #156ad2;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #156ad2;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}
.navbar-default .navbar-link {
    color: #ffffff;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}


@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #156ad2;
    }
}