<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>Homework 0</h1></div>
        </div>
    </div>
    <div class="well outer-well">
        <div class="well">
            <h3>Due Date</h3>
            Friday, February 5 @ 2 hours after 11:59pm (2am Saturday morning)
        </div>

        <div class="well">
            <h3>Objectives</h3>
            <ul>
                <li>Basic practice with C++ functions</li>
                <li>String manipulation</li>
                <li>Efficiency</li>
            </ul>
        </div>

        <div class="well">
            <h3>Resources</h3>
            C++ String Manipulation: <a href="http://www.cplusplus.com/reference/string/string/">http://www.cplusplus.com/reference/string/string/</a>
            <br/>
            Fibonacci Sequence: <a href="http://en.wikipedia.org/wiki/Fibonacci_number">https://en.wikipedia.org/wiki/Fibonacci_number</a>

        </div>

        <div class="well">
            <h3>Problems</h3>
            <br/>
            <h4>String Manipulation (1 point)</h4>
            <p>
                Write a function with the following header that has two parameters, a string and a char, that will
                return
                the amount of times the char appears on even indices in the given string.
            </p>
            <div class="well code-well"><code>
                int countCharOnEven(std::string phrase, char letter);
            </code></div>

            <p>Example: <kbd>countCharOnEven(“Fallout: New Vegas”, ‘a’) == 1</kbd>
            </p>
            <p>
            <div class="alert alert-info">Note: If a char is found on index 0, include it in the amount. Uppercase and
                lowercase
                are different characters.
            </div>
            <br/><br/>
            <h4>Fibonacci Sequence (3 points)</h4>
            <p>
                Write a function to compute the <var>n</var><sup>th</sup> Fibonacci number with the
                following header that has a parameter of type int and returns an int.
            </p>
            <div class="well code-well"><code> int computeFibonacci(int number);</code></div>


            <div class="container">
                Examples:<br/>
                <kbd>computeFibonacci(4) == 3</kbd><br/>
                <kbd>computeFibonacci(6) == 8</kbd><br/>
                <kbd>computeFibonacci(7) == 13</kbd>
            </div>
            <br/>
            <div class="alert alert-info">Note: The Fibonacci sequence is a series of numbers where the next
                number is found by adding the two previous and starts with 0 and 1.
            </div>
            <p>Fibonacci Sequence:
                0,1,1,2,3,5,8,13,21,34, ...<br/>
                <!--<kbd>0,1,1,2,3,5,8,13,21,34, ...</kbd><br/>-->
            </p>
            <b>Points Breakdown</b>
            <ul>
                <li>1 point (Mostly Correct): The function <code>computeFibonacci</code> returns the correct value on
                    most inputs, but is incorrect on at least 1 edge case.
                </li>
                <li>2 points (Completely Correct): The function <code>computeFibonacci</code> returns the correct value
                    on <em>all</em>
                    inputs.
                </li>
                <li>3 points (Correct and Efficient): The function <code>computeFibonacci</code> returns the correct
                    value on all inputs and
                    runs in linear time in terms of <code>number</code>.
                </li>
            </ul>
            <!--Note: <span-->
            <!--class="text-info">All homework this semester will follow a similar 4 points grading scale.</span>-->
            <div class="alert alert-info">Note: All homework this semester will follow a similar 4 point grading
                scale.
            </div>
        </div>

        <div class="well">
            <h3>Code</h3>
            Download and complete this C++ file with your solutions.<br/>
            <a href="homeworkCode/hw0.cpp">hw0.cpp</a>
        </div>

        <div class="well">
            <h3>Submission</h3>
            Submit your completed hw0.cpp on the submission website:<br/>
            <a href="https://www-student.cse.buffalo.edu/planetexpress/">https://www-student.cse.buffalo.edu/planetexpress/</a>
            <!--which is also embedded below.-->
            <br/>

            <!--<iframe src="https://www-student.cse.buffalo.edu/planetexpress/"></iframe>-->
        </div>


        <div class="well">
            <h3>Solution</h3>
            <a href="homeworkSolutions/hw0.cpp">
                Solution hw0.cpp</a>

        </div>

        <div class="well">
            <h3>Results</h3>
            <br/>

            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div id="hw0results" style="100%; height:400px;"></div>
                </div>
                <div class="col-sm-2"></div>
            </div>

            <script>
                makeChart('hw0results', 17, 13, 3, 0, 10, 109);
            </script>
        </div>

    </div>

</div>

