<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>Homework 3: Stock Tracker</h1></div>
        </div>
    </div>
    <div class="well outer-well">
        <div class="well">
            <h2 class="text-center">Due Date</h2>
            <hr/>
            Friday, March 11 @ 2 hours after 11:59pm (2am Saturday morning)
        </div>

        <div class="well">
            <h2 class="text-center">Objectives</h2>
            <hr/>
            <ul>
                <li>Practice with set and map</li>
                <li>Custom Sorting</li>
            </ul>
        </div>


        <div class="well">
            <h2 class="text-center">Resources</h2>
            <hr/>
            Set: <a
                href="http://www.cplusplus.com/reference/set/set/">http://www.cplusplus.com/reference/set/set/</a><br/>
            Map: <a
                href="http://www.cplusplus.com/reference/map/map/">http://www.cplusplus.com/reference/map/map/</a><br/>
        </div>


        <div class="well">

            <h2 class="text-center">Stock Tracker</h2>
            <br/>
            <div class="text-center">
                <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/T-MUWJWqOv0" frameborder="0"-->
                <!--allowfullscreen></iframe>-->
            </div>


            <p>You will be implementing a C++ class that will track stock prices. There are no data structures given
                for this assignment and it is your task to decide how to store the stock information in order to answer
                several queries about the data. Your class will be given the total number of shares outstanding for
                each stock, which will not change, and the current price of each stock which can change often. The
                assignment will build up to a function that asks for the top k stocks by market capitalization which
                is its current price multiplied by its number of shares outstanding.</p>

            <br/>
            <hr/>


            <h3 class="text-center">Registering Stocks (1 point)</h3>
            <br/>

            <div class="well code-well"><code>
                void registerTicker(string tickerSymbol, int sharesOutstanding);
            </code></div>
            <div class="well code-well"><code>
                bool isTicker(string tickerSymbol);
            </code></div>
            <div class="well code-well"><code>
                int getSharesOutstanding(string tickerSymbol);
            </code></div>

            <p>
                Implement these functions to register a stock with a certain number of shares outstanding and
                answer queries on whether a symbol has been registered and the number of shares for each stock.
                If the number of shares is asked for a ticker that has not been registered, it should return 0.
                Once a stock is registered, its number of shares outstanding will not change
                (Note: this is not true in general, but is true for this assignment).
            </p>

            <br/>
            <hr/>

            <h3 class="text-center">Tracking Stock Prices (1 point)</h3>
            <br/>
            <div class="well code-well"><code>
                void updateCurrentPrice(string tickerSymbol, double price);
            </code></div>
            <div class="well code-well"><code>
                double getCurrentPrice(string tickerSymbol);
            </code></div>
            <div class="well code-well"><code>
                double getMarketCap(string tickerSymbol);
            </code></div>

            <p>
                Implement these functions to track the price of a share for each stock. Unlike the total number
                of shares outstanding, the price of a stock can change often so updateCurrentPrice can be called
                many times on the same stock. If the price for a ticker has never been set or it was never
                registered, getCurrentPrice should return 0.0 for that symbol.
            </p>
            <p>
                Market capitalization is the current market value of the company and can be computed by
                multiplying its price by its number of shares outstanding. If the ticker has not been registered
                or the price was never set, return 0.0.
            </p>

            <br/>
            <hr/>

            <h3 class="text-center">Top k Stocks by Market Capitalization (1 point)</h3>

            <br/>

            <div class="well code-well"><code>
                vector&lt;string&gt; topMarketCaps(int k);
            </code></div>

            <p>Return the ticker symbols of the k highest market cap stocks in order of their market cap. The highest
                market cap stock should be in index 0 of the return vector, the second highest in index 1 and so on.
                Ties in market cap can be broken arbitrarily for the ordering.
            </p>

            <div class="alert alert-info">
                Be very careful not to remove duplicates if using a set or map. The grader will be set up to introduce
                duplicates by price, shares outstanding, and market cap, but there will be no duplicates on ticker
                symbol.
            </div>

            <br/>
            <hr/>

            <h3 class="text-center">Efficiency (1 point)</h3>
            <br/>
            <div class="well code-well"><code>
                void updateCurrentPrice(string tickerSymbol, double price);
            </code></div>

            <div class="well code-well"><code>
                vector&lt;string&gt; topMarketCaps(int k);
            </code></div>
            <p>
                These two functions must run in O(log(n)) time where n is the number of registered stocks to earn full
                credit on the assignment. The runtime
                for topMarketCaps can also depend linearly on k making its runtime O(k*log(n)).
            </p>
            <p>
                Each of these functions will be called repeatedly to check the runtime.
            </p>
            <br/>

        </div>


        <div class="well">
            <h3>Code</h3>
            <p>Download and complete these C++ files with your solutions.</p>
            <h3><a href="homeworkCode/hw3.zip">hw3.zip</a></h3>
            <br/>
        </div>


        <div class="well">
            <h3>Submission</h3>
            Submit: StockTracker.h, StockTracker.cpp<br/>
            Submissions must be made individually on the submission website:
            <a href="https://www-student.cse.buffalo.edu/planetexpress/">
                https://www-student.cse.buffalo.edu/planetexpress/</a>
            <br/>
        </div>


        <div class="well">
            <h3>Results</h3>
            <br/>

            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div id="hw3results" style="100%; height:400px;"></div>
                </div>
                <div class="col-sm-2"></div>
            </div>


            <script>
                makeChart('hw3results', 26, 20, 5, 26, 11, 64);
            </script>
        </div>

    </div>
</div>



