<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>Homework 4: Pale Blue Dot</h1></div>
        </div>
    </div>
    <div class="well outer-well">

        <div class="well">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <a href="https://en.wikipedia.org/wiki/Pale_Blue_Dot">
                        <img src="images/PaleBlueDot.jpg" class="img-responsive center-block">
                    </a>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <a href="https://en.wikipedia.org/wiki/Pale_Blue_Dot">
                <br/>
                <p class="text-center">https://en.wikipedia.org/wiki/Pale_Blue_Dot</p>
            </a>
        </div>

        <div class="well">
            <h3>Due Date</h3>
            <hr/>
            Friday, April 8 @ 2 hours after 11:59pm (2am Saturday morning)
        </div>

        <div class="well">
            <h3>Topics</h3>
            <hr/>
            <ul>
                <li>Python</li>
                <li>Data Parsing</li>
                <li>Working with Geolocation</li>
                <li>Connecting to a Web API</li>
            </ul>
        </div>


        <div class="well">
            <h3>Resources</h3>
            <hr/>
            Python Documentation: <a href="https://docs.python.org/3/">https://docs.python.org/3/</a><br/>
            Lat/Long Conversions: <a href="http://www.movable-type.co.uk/scripts/latlong.html">http://www.movable-type.co.uk/scripts/latlong.html</a><br/>
            City Locations: <a href="https://www.maxmind.com/en/free-world-cities-database">https://www.maxmind.com/en/free-world-cities-database</a><br/>
            ISS API: <a href="http://api.open-notify.org">http://api.open-notify.org</a><br/>
            Observatory locations: <a href="http://www.minorplanetcenter.net/iau/lists/ObsCodes.html">http://www.minorplanetcenter.net/iau/lists/ObsCodes.html</a><br/>
            Country Codes: <a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2">https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2</a><br/>
            Google is Your Friend: <a href="https://www.google.com/">https://www.google.com/</a><br/>
        </div>


        <div class="well">

            <h3>Pale Blue Dot</h3>
            <br/>

            <p>
                Implement the PaleBlueDot class with the following functionality pertaining to locations and distances
                on the planet Earth.
            </p>

            <br/>
            <hr/>


            <h4 class="text-center">Data Parsing and Populating Data Structures (1 point)</h4>
            <br/>

            <div class="well code-well"><code>
                def getCityLocation(self, city, region, country)
            </code></div>

            <p>
                Given the name a city, its region, and country, returns its location as a Location object. Returns an
                empty list
                if the city is unknown, though bad inputs will not be tested for grading so an error can be thrown
                instead.

                This will require parsing the provided "worldCities.csv" file as part of the constructor call. This file
                contains the country, name, region, latitude, and longitude of more than 3 million cities on the planet.
                A separate "worldCities-abridged.csv" is also provided for more efficient development which contains a
                random sample of 1% of full dataset.
            </p>

            <div class="well code-well"><code>
                def getObservatoryName(self, observatoryCode)
            </code></div>

            <p>
                Given a 3 digit observatory code as a string, return the name of the corresponding observatory.
                The most current list of observatories must be obtained from the Internet programmatically. The data
                is not provided, can't be submitted, and will not be present during testing. Don't worry, python
                simplifies the process of pulling data from Internet.

                Current data can be downloaded here: http://www.minorplanetcenter.net/iau/lists/ObsCodes.html

                Note that this data is not in the most friendly format and much care must be taken while parsing.
                Non-existing codes will not be tested.
            </p>

            <br/>
            <hr/>

            <h4 class="text-center">Geographic Math (1 point)</h4>
            <br/>
            <div class="well code-well"><code>
                def getObservatoryLocation(self, observatoryCode)
            </code></div>

            <p>
                Given a 3 digit observatory code as a string, return the location of the corresponding observatory
                as a Location object with lat /long in degrees. Note that the data is given as
                longitude (in degrees), cos, and sin. Computing atan(sin/cos) will give the latitude in radians.
                Non-existing codes will not be tested.
            </p>

            <div class="well code-well"><code>
                def greatCircleDistance(self, location1, location2)
            </code></div>

            <p>
                Return the great circle distance between two locations on Earth. This measure of distance is
                "as the crow flies" and takes into account the curvature of the Earth. For more information on great
                circle distance including sample code in JavaScript
                see: <a href="http://www.movable-type.co.uk/scripts/latlong.html">http://www.movable-type.co.uk/scripts/latlong.html</a>

                For this function, use the average Earth radius of 6,371km as given in the link above.
            </p>

            <br/>
            <hr/>

            <h4 class="text-center">ISS API (1 point)</h4>
            <br/>
            <div class="well code-well"><code>
                def getClosestObservatory(self, location)
            </code></div>

            <p>
                Given a point on Earth by lat/long, return the code of the closest observatory in terms of
                great circle distance. This will be used as a helper function for the ISS calculation.
            </p>


            <div class="well code-well"><code>
                def getClosestObservatoryToISS(self)
            </code></div>

            <p>
                Use the ISS web API (<a href="http://api.open-notify.org/">http://api.open-notify.org/</a>) to get
                the current location of the ISS (projected to the Earth's surface) and return the closest
                observatory to that location in terms of great circle distance.
            </p>

            <div class="well code-well"><code>
                def nextPassTime(self, location)
            </code></div>

            <p>
                Use the ISS web API's "pass time" functionality to return the next chance to observe the ISS from a
                given location. Parsing the JSON will result in a unix timestamp that must be
                converted and returned in a user friendly format via:
                datetime.datetime.fromtimestamp(int("1457985637")).strftime('%Y-%m-%d %H:%M:%S')
            </p>

            <br/>
            <hr/>

            <h4 class="text-center">Efficiency (1 point)</h4>
            <br/>
            <div class="well code-well"><code>
                def getClosestCity(self, location)
            </code></div>

            <p>
                Yes, I just said efficiency while referring to python. We don't expect to
                reach the performance levels of a compiled language while interpreting python, but we can still see
                significant improvements in runtime by using efficient data structures and algorithms.
            </p>
            <p>
                Given a location on Earth by lat/long, return the name of the closest city in terms of
                great circle distance. Most solutions will
                technically be O(n), but an efficient solution should roughly be O(1) on average. To achieve this, you
                can take advantage of the fact that you have all the data in advance and it will not change during
                testing. The full "worldCities.csv" dataset will be used in testing. Return the city as a list in the
                form [city,region,countryCode]
            </p>
            <p>
                No partial credit will be given if the function is correct, but doesn't meet the efficiency bound.
            </p>
            <p>
                Bound: Less than 10 seconds on the benchmark in hw4Testing.py. This is the time that displays as "part 4
                runtime:" when running the tests. Be sure to download the new testing file that is making 50 calls on
                2.24 million cities.
            </p>


            <div class="well code-well"><code>
                def getClosestCityToISS(self)
            </code></div>

            <p>
                Call getClosestCity with the current ISS location to find the closest city to the ISS. Return the city
                as a list in the form [city,region,countryCode]
            </p>

            <br/>
            <hr/>


        </div>


        <div class="well">
            <h3>Code</h3>
            <p>Download and complete PaleBlueDot.py with your solutions.</p>
            <h3><a href="homeworkCode/hw4.zip">hw4.zip</a></h3>
            <br/>

        </div>


        <div class="well">
            <h3>Submission</h3>
            Submit: PaleBlueDot.py<br/>
            Submission must be made on the submission website:
            <a href="https://www-student.cse.buffalo.edu/planetexpress/">
                https://www-student.cse.buffalo.edu/planetexpress/</a>
            <br/>
        </div>


        <div class="well">
            <h3>Results</h3>
            <br/>

            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div id="hw4results" style="100%; height:400px;"></div>
                </div>
                <div class="col-sm-2"></div>
            </div>

            <script>
                makeChart('hw4results', 0, 0, 0, 0, 0, 0);
            </script>
        </div>

    </div>
</div>



