<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>Asymptotic Notation and Growth Of Functions</h1></div>
        </div>
    </div>
    <h4 id="top"></h4>
    <div class="well outer-well">
        <div class="well">
            <div class="panel panel-default">
                <div class="panel-body" class="sectioncolor">
                    <h1><strong><u><p class="midalign">Asymptotic Notation:</p></u><strong></u></strong></h1>
                    <br/></div>
                <h3>
                    <div>
                        <p class="tab">This is a way to measure efficiency on a high level.</p>
                </h3>
                <ul>
                    <li>Ignore implementation details</li>
                    <li>Ignore constants</li>
                </ul>
                <h3>
                    <p class="tab">Magnitude of Growth</p>
                </h3>
                <ul>
                    <li>What happens when input gets big?</li>
                </ul>

                <h3>
                    <p class="tab">A "first phase" of efficiency</p>
                </h3>
                <ul>
                    <li>It is important to code efficiently to reduce the runtime by a constant</li>
                    <li>How can we design better algorithms to reduce asymptotic runtime?</li>
                </ul>
                <h3>
                    <p class="tab"><strong>*Coding interviewers will ask about runtime of your algorithm in
                        big-O</strong></p>
                </h3>
                <br/>
                <br/>
            </div>
        </div>
        <div class="container"></div>

        <div class="well">
            <div class="sectioncolor">
                <div>
                    <center>
                        <img src="images/table.jpg">
                        <br/>
                        <br/>
                        <h1><p>Which one is better?</p></h1>
                        <img src="images/asymptotic1.jpg">
                        <h2>Or:</h2>
                        <img src="images/asymptotic2.jpg">
                        <h2>Or this?</h2>
                        <img src="images/asymptotic3.jpg">
                        <h2>The actual run times</h2>
                        <img src="images/asymptoticview.jpg">
                        <img src="images/chartcomp.jpg">
                    </center>
                </div>
            </div>
        </div>
        <div class="well">
            <div class="panel panel-default">
                <div class="panel-body" class="sectioncolor">
                    <h1><strong><u><p class="midalign">Asymptotic Analysis:</p></u><strong></u></strong></h1>
                    <br/></div>
                <center>
                    <img src="images/travellingsalesman.jpg">
                </center>
            </div>
        </div>
        <div class="well">
            <div class="panel panel-default">
                <div class="panel-body" class="sectioncolor">
                    <h1><strong><u><p class="midalign">Asymptotic Notation:</p></u><strong></u></strong></h1>
                    <br/></div>
                <center>
                    <img src="images/asymptoticnotation.jpg">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <img src="images/bigoh.jpg">
                    <br/>
                    <br/>
                    <h3><p><strong>Let's examine the function g(n) = pn<sup>2</sup> + qn + r</strong></p>
                        <h3>
                            <br/>
                            <br/>
                </center>
                <div>
                    <center>
                        <h2><p class="tab">g(n) = pn<sup>2</sup> + qn + r</p>
                            <br/>
                            <br/>
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#collapse1">Is g(n) in O(n<sup>3</sup>)?</a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">Yes</div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#collapse2">Is g(n) in O(n)?</a>
                                        </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body">No</div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#collapse3">Is g(n) in O(n<sup>2</sup>)?</a>
                                        </h4>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse">
                                        <div class="panel-body">Yes</div>
                                    </div>
                                </div>
                            </div>
                        </h2>
                    </center>
                    <br/>
                    <br/>
                </div>
                <center>
                    <img src="images/bigomega.jpg">
                </center>
                <center>
                    <div>
                        <h2><p class="tab">g(n) = pn<sup>2</sup> + qn + r</p>
                            <br/>
                            <br/>
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#collapse1a">Is g(n) in
                                                Ω(n<sup>3</sup>)?</a>
                                        </h4>
                                    </div>
                                    <div id="collapse1a" class="panel-collapse collapse">
                                        <div class="panel-body">No</div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#collapse2a">Is g(n) in Ω(n)?</a>
                                        </h4>
                                    </div>
                                    <div id="collapse2a" class="panel-collapse collapse">
                                        <div class="panel-body">Yes</div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#collapse3a">Is g(n) in
                                                Ω(n<sup>2</sup>)?</a>
                                        </h4>
                                    </div>
                                    <div id="collapse3a" class="panel-collapse collapse">
                                        <div class="panel-body">Yes</div>
                                    </div>
                                </div>
                            </div>
                        </h2>
                    </div>
                </center>
            </div>
            <br/>
            <br/>
            <center>
                <img src="images/bigtheta.jpg">
            </center>
            <br/>
            <br/>
            <center>
                <h2><p class="tab">g(n) = pn<sup>2</sup> + qn + r</p>
                    <br/>
                    <br/>

                    <div>
                        <h2><p class="tab">g(n) = pn<sup>2</sup> + qn + r</p>
                            <br/>
                            <br/>
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#collapse1b">Is g(n) in
                                                Θ(n<sup>3</sup>)?</a>
                                        </h4>
                                    </div>
                                    <div id="collapse1b" class="panel-collapse collapse">
                                        <div class="panel-body">No</div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#collapse2b">Is g(n) in Θ(n)?</a>
                                        </h4>
                                    </div>
                                    <div id="collapse2b" class="panel-collapse collapse">
                                        <div class="panel-body">No</div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#collapse3b">Is g(n) in
                                                Θ(n<sup>2</sup>)?</a>
                                        </h4>
                                    </div>
                                    <div id="collapse3b" class="panel-collapse collapse">
                                        <div class="panel-body">Yes</div>
                                    </div>
                                </div>
                            </div>
                        </h2>
                    </div>
                </h2>
            </center>
            <br/>
            <br/>
        </div>
    </div>
    <div class="well">
        <div class="panel panel-default">
            <div class="panel-body" class="sectioncolor">
                <h1><strong><u><p class="midalign">Properties of asymptotic(applies to O, Ω, and Θ):</p>
                </u></strong><strong></strong></h1>
                <br/></div>
            <center>
                <img src="images/snip.jpg">
            </center>
            <br/>
            <br/>
        </div>
    </div>
    <div class="well">
        <div class="panel-body" class="sectioncolor">
            <h1><strong><u><p class="midalign">Calculus For Asymptotic Analysis:</p></u><strong></u></strong>
            </h1>
            <br/></div>
        <div class="well">

            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6">
                    <div>
                        <center>
                            <img class="img-responsive" src="images/calculus.jpg">
                        </center>
                    </div>
                    <div>
                        <br/>
                        <br/>
                        <center>
                            <img class="img-responsive" src="images/calculus2.png">
                        </center>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>

        </div>
    </div>
    <div class="well">
        <div class="panel panel-default">
            <div class="panel-body" class="sectioncolor">
                <h1><strong><u><p class="midalign">Asymptotic Analysis For Algorithms:</p></u><strong></u></strong>
                </h1>

            </div>
        </div>
        <div class="well">
            <div class="panel panel-default">
                <br/></div>
            <h2><p>T(n) = the maximum number of steps taken by an algorithm for any input of size n (worst-case
                runtime)</p>
                <h2>
                    <ul>
                        <li>Always talking about worst-case runtime</li>
                        <br/>
                        <li>We are not concerned with how good things can be</li>
                        <br/>
                        <li>Don’t want to be surprised by a “bad” case after implementation</li>
                        <br/>
                        <li>If T(n)<u(n) for all n>n0 then T(n) is in O(u(n))
                            Need to show that the number of steps taken is less than u(n) for all inputs of size
                            n>n0
                        </li>
                        <br/>
                        <li>If T(n)>L(n) for all n>n0 then T(n) is in Ω(L(n))
                            Need to show that there exists at least one input that takes more than L(n) steps for
                            all n>n0
                        </li>
                    </ul>
                    <br/>
                    <br/>
                    <div>
                        <div class="panel-body" class="sectioncolor">
                            <h1><strong><u><p class="midalign">Input Size:</p></u><strong></u></strong></h1>
                            <br/></div>
                        <ul>
                            <li>Asymptotic runtime is always measured with respect to the input size</li>
                            <li>Input size represented by n</li>
                            -Later: n = Number of elements for the data structure
                            <li>Runtime is a function of n</li>
                        </ul>
                        <br/>
                        <br/>
                    </div>
                    <div>
                        <div class="panel-body" class="sectioncolor">
                            <h1><strong><u><p class="midalign">Common Runtimes:</p></u><strong></u></strong></h1>
                            <br/></div>
                        <ul>
                            <li>Constant: O(1)</li>
                            -No dependence on n
                            -As <span><strong>n</strong></span> grows, the runtime is constant
                            <li>Logarithmic: O(log(n))</li>
                            -Very Efficient
                            <li>Linear: O(n)</li>
                            <li>O(n*log(n))</li>
                            <li>Squared: O(n<sup>2</sup>)</li>
                            <li>Cubic: O(n<sup>3</sup>)</li>
                            -Starting to be impractical except for small number of <span><strong>n</strong></span>
                            <li>Exponential: O(2<sup>n</sup>)</li>
                            -Impractical
                        </ul>
                        <br/>
                        <br/>
                    </div>
                    <div>
                        <div class="panel-body" class="sectioncolor">
                            <h1><strong><u><p class="midalign">Example:</p></u><strong></u></strong></h1>
                            <br/></div>
                        <ul>
                            <li>How to find an element in a sorted array</li>
                            -Linear Search
                            <li class="tab">Check each element 1-by-1 and compare</li>
                            <li class="tab">If the element is found, return true</li>
                            <li class="tab">Linear runtime: O(n)</li>
                            -Binary Search
                            <li class="tab">Recursively compare with center element</li>
                            <li class="tab">If center element is smaller, check the larger half</li>
                            <li class="tab">Eliminate half the search space each comparison</li>
                            <li class="tab">Logarithmic runtime: O(log(n))</li>
                            <li class="tab">Very efficient.</li>
                        </ul>
                    </div>
                    <br/>
                    <br/>
                    <hr/>
                    <hr/>
                    <div>
                        <div class="panel-body" class="sectioncolor">
                            <h1><strong><u><p class="midalign">Week 3:</p></u><strong></u></strong></h1>
                            <br/></div>
                        <ul>
                            <li>Sweet Sweet Data Structures</li>
                            <li>Arrays, Vectors</li>
                            <li>List,Stack,Queue</li>
                            <li>Sorting</li>
                        </ul>
                        <br/>
                        <br/>
                    </div>
                    <a href="#top">Back to the top</a>
                    <br/>
                    <br/></h2>
            </h2>
        </div>
    </div>
</div>