<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>Set, Map, Sorting</h1></div>
        </div>
    </div>

    <div class="well outer-well">
        <div class="well">
            <h2>Questions</h2>
            Submit questions here: <a href="http://ubcse.com/CSE250/suggestions.html">http://ubcse.com/CSE250/suggestions.html</a>
        </div>

        <div class="well">
            <p>
                In this lecture we will use sets and maps to sort custom objects in the order of our choosing. By
                default, C++ does not know how we want to sort our objects, so we must define a comparator to achieve
                the desired behavior. First we will do this by overloading the less-than operator, then we will use
                functor objects for increased flexibility.
            </p>
        </div>


        <div class="well">
            <div><h2>Custom Sorting</h2></div>
            <p>
                We will start with the following code sample to define custom sorts by overloading the less-than
                operator
                for a
                Movie class. We will be expanding on this snippet throughout the lesson.
            </p>
<pre class="prettyprint linenums lang-cpp">
#include &lt;vector&gt;
#include &lt;iostream&gt;
#include &lt;string&gt;
#include &lt;set&gt;
#include &lt;algorithm&gt;

using namespace std;

class Movie{
private:
    int releaseYear;
    long grossRevenue;
    long budget;
    string title;

public:
    Movie(int releaseYear, string title, long grossRevenue, long budget):
    releaseYear(releaseYear), title(title), grossRevenue(grossRevenue), budget(budget){};

    string getTitle() const{
        return this-&gt;title;
    }

    friend std::ostream&amp; operator&lt;&lt;(std::ostream&amp; stream, const Movie&amp; movie){
        stream &lt;&lt; movie.title &lt;&lt;
        &quot;\nreleased: &quot; &lt;&lt; movie.releaseYear &lt;&lt;
        &quot;\ngrossed: &quot; &lt;&lt; movie.grossRevenue &lt;&lt;
        &quot;\nbudget : &quot; &lt;&lt; movie.budget &lt;&lt;
        &quot;\n&quot;;
        return stream;
    }

    bool operator&lt;(const Movie&amp; otherMovie) const{
        return this-&gt;title &lt; otherMovie.title;
    }
};

// Template function to print various data structures
template &lt;typename T&gt; void printDataStructure(T const &amp;data){
    for(typename T::const_iterator it = data.begin();
         it != data.end(); it++){
        cout &lt;&lt; *it &lt;&lt; &quot;\n&quot;;
    }
    cout &lt;&lt; endl;
}

int main(){
    vector&lt;Movie&gt; movies;

    // Source: https://en.wikipedia.org/wiki/List_of_highest-grossing_films
    // -Highest grossing films by year of release
    movies.push_back(Movie(1992, &quot;Aladdin&quot;, 504050219, 28000000));
    movies.push_back(Movie(1993, &quot;Jurassic Park&quot;, 1029939903, 70000000));
    movies.push_back(Movie(1994, &quot;The Lion King&quot;, 987483777, 79300000));
    movies.push_back(Movie(1995, &quot;Toy Story&quot;, 370638993, 30000000));
    movies.push_back(Movie(1995, &quot;Die Hard with a Vengeance&quot;, 366101666, 70000000));
    movies.push_back(Movie(1996, &quot;Independence Day&quot;, 817400891, 75000000));
    movies.push_back(Movie(1997, &quot;Titanic&quot;, 2186772302, 200000000));
    movies.push_back(Movie(1998, &quot;Armageddon&quot;, 553709626, 140000000));
    movies.push_back(Movie(1999, &quot;Star Wars: Episode I &ndash; The Phantom Menace&quot;, 1027044677, 127500000));
    movies.push_back(Movie(2000, &quot;Mission: Impossible II&quot;, 546388105, 125000000));
    movies.push_back(Movie(2001, &quot;Harry Potter and the Philosopher\&apos;s Stone&quot;, 974755371, 125000000));
    movies.push_back(Movie(2002, &quot;The Lord of the Rings: The Two Towers&quot;, 926047111, 94000000));
    movies.push_back(Movie(2003, &quot;The Lord of the Rings: The Return of the King&quot;, 1119929521, 94000000));
    movies.push_back(Movie(2004, &quot;Shrek 2&quot;, 919838758, 150000000));
    movies.push_back(Movie(2005, &quot;Harry Potter and the Goblet of Fire&quot;, 896911078, 150000000));
    movies.push_back(Movie(2006, &quot;Pirates of the Caribbean: Dead Man\&apos;s Chest&quot;, 1066179725, 225000000));
    movies.push_back(Movie(2007, &quot;Pirates of the Caribbean: At World\&apos;s End&quot;, 963420425, 300000000));
    movies.push_back(Movie(2008, &quot;The Dark Knight&quot;, 1004558444, 185000000));
    movies.push_back(Movie(2009, &quot;Avatar&quot;, 2787965087, 237000000));
    movies.push_back(Movie(2010, &quot;Toy Story 3&quot;, 1063171911, 200000000));
    movies.push_back(Movie(2011, &quot;Harry Potter and the Deathly Hallows &ndash; Part 2&quot;, 1341511219, 250000000));
    movies.push_back(Movie(2012, &quot;The Avengers&quot;, 1519557910, 220000000));
    movies.push_back(Movie(2013, &quot;Frozen&quot;, 1279852693, 150000000));
    movies.push_back(Movie(2014, &quot;Transformers: Age of Extinction&quot;, 1104039076, 210000000));
    movies.push_back(Movie(2015, &quot;Star Wars: The Force Awakens&quot;, 2039842295, 200000000));
    movies.push_back(Movie(2016, &quot;Deadpool&quot;, 609805905, 58000000));

    cout &lt;&lt; &quot;Vector:&quot; &lt;&lt; endl;
    printDataStructure&lt;vector&lt;Movie&gt; &gt;(movies);

    set&lt;Movie&gt; movieSet;
    movieSet.insert(movies.begin(), movies.end());

    cout &lt;&lt; &quot;\nSet:&quot; &lt;&lt; endl;
    printDataStructure&lt;set&lt;Movie&gt; &gt;(movieSet);

    return 0;
}
</pre>

            <p>Running this code will produce the following output:</p>
            <textarea class="form-control" rows="15">
Vector:
Aladdin
released: 1992
grossed: 504050219
budget : 28000000

Jurassic Park
released: 1993
grossed: 1029939903
budget : 70000000

The Lion King
released: 1994
grossed: 987483777
budget : 79300000

Toy Story
released: 1995
grossed: 370638993
budget : 30000000

Die Hard with a Vengeance
released: 1995
grossed: 366101666
budget : 70000000

Independence Day
released: 1996
grossed: 817400891
budget : 75000000

Titanic
released: 1997
grossed: 2186772302
budget : 200000000

Armageddon
released: 1998
grossed: 553709626
budget : 140000000

Star Wars: Episode I – The Phantom Menace
released: 1999
grossed: 1027044677
budget : 127500000

Mission: Impossible II
released: 2000
grossed: 546388105
budget : 125000000

Harry Potter and the Philosopher's Stone
released: 2001
grossed: 974755371
budget : 125000000

The Lord of the Rings: The Two Towers
released: 2002
grossed: 926047111
budget : 94000000

The Lord of the Rings: The Return of the King
released: 2003
grossed: 1119929521
budget : 94000000

Shrek 2
released: 2004
grossed: 919838758
budget : 150000000

Harry Potter and the Goblet of Fire
released: 2005
grossed: 896911078
budget : 150000000

Pirates of the Caribbean: Dead Man's Chest
released: 2006
grossed: 1066179725
budget : 225000000

Pirates of the Caribbean: At World's End
released: 2007
grossed: 963420425
budget : 300000000

The Dark Knight
released: 2008
grossed: 1004558444
budget : 185000000

Avatar
released: 2009
grossed: 2787965087
budget : 237000000

Toy Story 3
released: 2010
grossed: 1063171911
budget : 200000000

Harry Potter and the Deathly Hallows – Part 2
released: 2011
grossed: 1341511219
budget : 250000000

The Avengers
released: 2012
grossed: 1519557910
budget : 220000000

Frozen
released: 2013
grossed: 1279852693
budget : 150000000

Transformers: Age of Extinction
released: 2014
grossed: 1104039076
budget : 210000000

Star Wars: The Force Awakens
released: 2015
grossed: 2039842295
budget : 200000000

Deadpool
released: 2016
grossed: 609805905
budget : 58000000



Set:
Aladdin
released: 1992
grossed: 504050219
budget : 28000000

Armageddon
released: 1998
grossed: 553709626
budget : 140000000

Avatar
released: 2009
grossed: 2787965087
budget : 237000000

Deadpool
released: 2016
grossed: 609805905
budget : 58000000

Die Hard with a Vengeance
released: 1995
grossed: 366101666
budget : 70000000

Frozen
released: 2013
grossed: 1279852693
budget : 150000000

Harry Potter and the Deathly Hallows – Part 2
released: 2011
grossed: 1341511219
budget : 250000000

Harry Potter and the Goblet of Fire
released: 2005
grossed: 896911078
budget : 150000000

Harry Potter and the Philosopher's Stone
released: 2001
grossed: 974755371
budget : 125000000

Independence Day
released: 1996
grossed: 817400891
budget : 75000000

Jurassic Park
released: 1993
grossed: 1029939903
budget : 70000000

Mission: Impossible II
released: 2000
grossed: 546388105
budget : 125000000

Pirates of the Caribbean: At World's End
released: 2007
grossed: 963420425
budget : 300000000

Pirates of the Caribbean: Dead Man's Chest
released: 2006
grossed: 1066179725
budget : 225000000

Shrek 2
released: 2004
grossed: 919838758
budget : 150000000

Star Wars: Episode I – The Phantom Menace
released: 1999
grossed: 1027044677
budget : 127500000

Star Wars: The Force Awakens
released: 2015
grossed: 2039842295
budget : 200000000

The Avengers
released: 2012
grossed: 1519557910
budget : 220000000

The Dark Knight
released: 2008
grossed: 1004558444
budget : 185000000

The Lion King
released: 1994
grossed: 987483777
budget : 79300000

The Lord of the Rings: The Return of the King
released: 2003
grossed: 1119929521
budget : 94000000

The Lord of the Rings: The Two Towers
released: 2002
grossed: 926047111
budget : 94000000

Titanic
released: 1997
grossed: 2186772302
budget : 200000000

Toy Story
released: 1995
grossed: 370638993
budget : 30000000

Toy Story 3
released: 2010
grossed: 1063171911
budget : 200000000

Transformers: Age of Extinction
released: 2014
grossed: 1104039076
budget : 210000000
            </textarea>

            <p>Now let's dissect this example and take a look and what's happening one step at a time:</p>
            <br/>
            <div class="well">
                <h3>operator&lt;&lt;</h3>
                <p>The first function we'll talk about is the override of operator&lt;&lt;</p>
            <pre class="prettyprint lang-cpp">
friend std::ostream&amp; operator&lt;&lt;(std::ostream&amp; stream, const Movie&amp; movie){
    stream &lt;&lt; movie.title &lt;&lt;
    &quot;\nreleased: &quot; &lt;&lt; movie.releaseYear &lt;&lt;
    &quot;\ngrossed: &quot; &lt;&lt; movie.grossRevenue &lt;&lt;
    &quot;\nbudget : &quot; &lt;&lt; movie.budget &lt;&lt;
    &quot;\n&quot;;
    return stream;
}
            </pre>
                <p>By overriding this function we will be able to print our Movie objects to the console via cout (or
                    send a
                    Movie object to any other output stream).</p>
            <pre class="prettyprint lang-cpp">
Movie movie(2004, &quot;Shrek 2&quot;, 919838758, 150000000);
cout << movie << endl;
            </pre>
                <p>If operator&lt;&lt; were not defined for our Movie class, then this snippet would cause a compiler
                    error.</p>
                <p>Note the use of the friend keyword here. Even though the function is declared and defined inside the
                    Movie class in this example, it is not part of the Movie class. The friend keyword allows this
                    function
                    to still access private Movie variables from outside the Movie class.</p>
                <br/></div>
            <div class="well">
                <h3>operator&lt;</h3>
            <pre class="prettyprint lang-cpp">
bool operator&lt;(const Movie&amp; otherMovie) const{
    return this-&gt;title &lt; otherMovie.title;
}
                </pre>
                <p>We will now see how overriding the less-than operator can have large effects in C++ and is how we
                    will
                    first accomplish custom sorting. This is how we will tell the compiler how to 2 objects of a
                    particular
                    type. The sorting algorithms depend only on this operator and will call it repeatedly while
                    sorting.</p>
                <p>In this example, we will compare Movie objects by their title to have them sorted alphabetically.
                    With
                    this override, we can now sort data structure of Movies.</p>
                <br/>
                <h4>Sorting a vector</h4>
            <pre class="prettyprint lang-cpp">
vector&lt;Movie&gt; movies;

// Source: https://en.wikipedia.org/wiki/List_of_highest-grossing_films
// -Highest grossing films by year of release
movies.push_back(Movie(1992, &quot;Aladdin&quot;, 504050219, 28000000));
movies.push_back(Movie(2004, &quot;Shrek 2&quot;, 919838758, 150000000));
movies.push_back(Movie(2005, &quot;Harry Potter and the Goblet of Fire&quot;, 896911078, 150000000));
movies.push_back(Movie(2010, &quot;Toy Story 3&quot;, 1063171911, 200000000));
movies.push_back(Movie(2011, &quot;Harry Potter and the Deathly Hallows &ndash; Part 2&quot;, 1341511219, 250000000));
movies.push_back(Movie(2013, &quot;Frozen&quot;, 1279852693, 150000000));

sort(movies.begin(), movies.end());
                </pre>

                <p>When we call the sort method on a range defined by 2 iterators, it will sort the range based on the
                    less-than operator for that type. If the less-than operator is not defined, call sort will produce a
                    compiler error.</p>
                <p>By making a slight modification to the less-than override we can see what's happening when we call
                    sort:</p>

                        <pre class="prettyprint lang-cpp">
bool operator&lt;(const Movie&amp; otherMovie) const{
    // Print information about each comparison as it's made
    cout << (this->title < otherMovie.title) << ": compared if \""
                            << this->title << "\" is less than \"" << otherMovie.title << "\"\n";
    return this-&gt;title &lt; otherMovie.title;
}
                </pre>
                <p>Now calling the sort above produces the following output:</p>
            <pre>
0: compared if "Shrek 2" is less than "Aladdin"
1: compared if "Harry Potter and the Goblet of Fire" is less than "Shrek 2"
0: compared if "Harry Potter and the Goblet of Fire" is less than "Aladdin"
0: compared if "Toy Story 3" is less than "Shrek 2"
1: compared if "Harry Potter and the Deathly Hallows – Part 2" is less than "Toy Story 3"
1: compared if "Harry Potter and the Deathly Hallows – Part 2" is less than "Shrek 2"
1: compared if "Harry Potter and the Deathly Hallows – Part 2" is less than "Harry Potter and the Goblet of Fire"
0: compared if "Harry Potter and the Deathly Hallows – Part 2" is less than "Aladdin"
1: compared if "Frozen" is less than "Toy Story 3"
1: compared if "Frozen" is less than "Shrek 2"
1: compared if "Frozen" is less than "Harry Potter and the Goblet of Fire"
1: compared if "Frozen" is less than "Harry Potter and the Deathly Hallows – Part 2"
0: compared if "Frozen" is less than "Aladdin"
            </pre>
                <br/>
                <h4>Sorting with a set</h4>
                <p>When elements are inserted into a set, they are sorted via a tree sort algorithm based on a
                    self-balancing search tree. We'll insert the same data from the previous example into a set.</p>
            <pre class="prettyprint lang-cpp">
set&lt;Movie&gt; movies;

// Source: https://en.wikipedia.org/wiki/List_of_highest-grossing_films
// -Highest grossing films by year of release
movies.insert(Movie(1992, &quot;Aladdin&quot;, 504050219, 28000000));
movies.insert(Movie(2004, &quot;Shrek 2&quot;, 919838758, 150000000));
movies.insert(Movie(2005, &quot;Harry Potter and the Goblet of Fire&quot;, 896911078, 150000000));
movies.insert(Movie(2010, &quot;Toy Story 3&quot;, 1063171911, 200000000));
movies.insert(Movie(2011, &quot;Harry Potter and the Deathly Hallows &ndash; Part 2&quot;, 1341511219, 250000000));
movies.insert(Movie(2013, &quot;Frozen&quot;, 1279852693, 150000000));
                </pre>
                <p>This code produces the output:</p>
            <pre>
0: compared if "Shrek 2" is less than "Aladdin"
1: compared if "Aladdin" is less than "Shrek 2"
0: compared if "Harry Potter and the Goblet of Fire" is less than "Aladdin"
1: compared if "Aladdin" is less than "Harry Potter and the Goblet of Fire"
1: compared if "Harry Potter and the Goblet of Fire" is less than "Shrek 2"
0: compared if "Toy Story 3" is less than "Harry Potter and the Goblet of Fire"
1: compared if "Harry Potter and the Goblet of Fire" is less than "Toy Story 3"
0: compared if "Toy Story 3" is less than "Shrek 2"
1: compared if "Shrek 2" is less than "Toy Story 3"
1: compared if "Harry Potter and the Deathly Hallows – Part 2" is less than "Harry Potter and the Goblet of Fire"
0: compared if "Harry Potter and the Deathly Hallows – Part 2" is less than "Aladdin"
1: compared if "Aladdin" is less than "Harry Potter and the Deathly Hallows – Part 2"
1: compared if "Frozen" is less than "Harry Potter and the Goblet of Fire"
0: compared if "Frozen" is less than "Aladdin"
1: compared if "Aladdin" is less than "Frozen"
1: compared if "Frozen" is less than "Harry Potter and the Deathly Hallows – Part 2"
            </pre>
                <div class="alert alert-info">Note that we did call any sorting functions on the set, yet less-than was
                    called many times on the data since it was sorted upon insertion. If you create a set or a map of a
                    type
                    that you created, you must define a comparator or it will cause a compiler error.
                </div>

                And we achieve the expected order when printing out the set:
            <pre>
Aladdin
released: 1992
grossed: 504050219
budget : 28000000

Frozen
released: 2013
grossed: 1279852693
budget : 150000000

Harry Potter and the Deathly Hallows – Part 2
released: 2011
grossed: 1341511219
budget : 250000000

Harry Potter and the Goblet of Fire
released: 2005
grossed: 896911078
budget : 150000000

Shrek 2
released: 2004
grossed: 919838758
budget : 150000000

Toy Story 3
released: 2010
grossed: 1063171911
budget : 200000000
            </pre>
                <br/>
                <h4>Duplicate detection in a set</h4>
                <h5>
                    <ul>
                        <li>Duplicates are ignored based on the comparator (less-than operator).</li>
                        <li>Two elements <var>x</var> and <var>y</var> are duplicates if !(<var>x&lt;y || y&lt;x</var>)
                        </li>
                        <li>The == operator is never called for duplicate detection</li>
                    </ul>
                </h5>
                <p>Let's take a closer look at how duplicates are ignored in a set (The same applies to maps). The
                    previous
                    example did not contain any duplicates for the set to remove. To introduce duplicates, we will alter
                    the
                    comparator to only compare the first character in each Movie title.</p>
                        <pre class="prettyprint lang-cpp">
    bool operator<(const Movie& otherMovie) const{
        cout << (this->getTitle().at(0) < otherMovie.getTitle().at(0)) << ":
                            compared \"" << this->title << "\" with \"" << otherMovie.title << "\"\n";
        return this->getTitle().at(0) < otherMovie.getTitle().at(0);
    }
                </pre>
            <pre>
0: compared "Shrek 2" with "Aladdin"
1: compared "Aladdin" with "Shrek 2"
0: compared "Harry Potter and the Goblet of Fire" with "Aladdin"
1: compared "Aladdin" with "Harry Potter and the Goblet of Fire"
1: compared "Harry Potter and the Goblet of Fire" with "Shrek 2"
0: compared "Toy Story 3" with "Harry Potter and the Goblet of Fire"
1: compared "Harry Potter and the Goblet of Fire" with "Toy Story 3"
0: compared "Toy Story 3" with "Shrek 2"
1: compared "Shrek 2" with "Toy Story 3"
0: compared "Harry Potter and the Deathly Hallows – Part 2" with "Harry Potter and the Goblet of Fire"
0: compared "Harry Potter and the Goblet of Fire" with "Harry Potter and the Deathly Hallows – Part 2"
//^^ Both Harry Potter movies begin with 'H' causing both comparisons to return false
1: compared "Frozen" with "Harry Potter and the Goblet of Fire"
0: compared "Frozen" with "Aladdin"
1: compared "Aladdin" with "Frozen"
            </pre>

                <p>Printing out the set, we can see that the second Potter movie was not added to the set since it was
                    determined to be a duplicate based on this version of our less-than operator.</p>
        <pre>
Aladdin
released: 1992
grossed: 504050219
budget : 28000000

Frozen
released: 2013
grossed: 1279852693
budget : 150000000

Harry Potter and the Goblet of Fire
released: 2005
grossed: 896911078
budget : 150000000

Shrek 2
released: 2004
grossed: 919838758
budget : 150000000

Toy Story 3
released: 2010
grossed: 1063171911
budget : 200000000
        </pre>
                <br/>
                <h4>Sorting on Derived Values</h4>
                <p>We've seen how to sort on different member variables, but we are not limited to how much computation
                    we
                    can do in the less-than override. In this example, we will sort our movies by their overall
                    profit.</p>

            <pre class="prettyprint lang-cpp">
bool operator<(const Movie& otherMovie) const{
    return (this->grossRevenue - this->budget) < (otherMovie.grossRevenue - otherMovie.budget);
}
                </pre>
                <p>Output:</p>
            <pre>
Aladdin
released: 1992
grossed: 504050219
budget : 28000000

Harry Potter and the Goblet of Fire
released: 2005
grossed: 896911078
budget : 150000000

Shrek 2
released: 2004
grossed: 919838758
budget : 150000000

Toy Story 3
released: 2010
grossed: 1063171911
budget : 200000000

Harry Potter and the Deathly Hallows – Part 2
released: 2011
grossed: 1341511219
budget : 250000000

Frozen
released: 2013
grossed: 1279852693
budget : 150000000
            </pre>
                <br/>
                <h4>Sorting with Iterator Manipulation</h4>
                <p>If we want to find the top 5 highest profit movies from our entire list, we can combine what we know
                    about iterators and less-than to produce the following snippet:</p>

            <pre class="prettyprint lang-cpp">
// ...
// Using the movies vector containing all movies on the list from the first example
set&lt;Movie&gt; movieSet;
movieSet.insert(movies.begin(), movies.end());

set&lt;Movie&gt;::const_iterator it = --movieSet.end();
for(int i=0; i&lt;5; i++, it--){
    cout &lt;&lt; *it &lt;&lt; endl;
}
                </pre>
                <p>This gives us the desired information:</p>
            <pre>
Avatar
released: 2009
grossed: 2787965087
budget : 237000000

Titanic
released: 1997
grossed: 2186772302
budget : 200000000

Star Wars: The Force Awakens
released: 2015
grossed: 2039842295
budget : 200000000

The Avengers
released: 2012
grossed: 1519557910
budget : 220000000

Frozen
released: 2013
grossed: 1279852693
budget : 150000000
            </pre>
                <div class="alert alert-info">In doing this, we must be careful not to accidentally remove duplicates in
                    the
                    case of two movies having the exact same profit.
                </div>
            </div>
            <div class="well">
                <h3>Functors</h3>
                <p>
                    We saw how we can overload the less-than operator to perform custom sorting on our objects, but this
                    has 2 big limitations:
                <ul>
                    <li>This can only be defined for classes in our control</li>
                    <li>We can only define 1 less-than operator per class</li>
                </ul>
                This makes less-than overriding very limited and inflexible. If we want to sort on class in two
                different ways depending on the application, we would need to define 2 classes and we can't custom sort
                any primitives without defining wrapper classes. There has to be a better way.
                </p>

                <h4>Functors</h4>
                <p>A functor is a class that is defined to be used as a comparator. Instead of using the default
                    less-than operator to sort, we will use functors as an additional parameter to be used as the
                    comparator.</p>

                 <pre class="prettyprint lang-cpp">
class CompareBudgetFunctor{
public:
    bool operator()(const Movie &amp;movie1, const Movie &amp;movie2) const{
        return movie1.getBudget() &lt; movie2.getBudget();
    }
};
                </pre>

                Usage:
                 <pre class="prettyprint lang-cpp">
set&lt;Movie, CompareBudgetFunctor&gt; movies;
                </pre>

                <p>This set will now be sorted by calling the operator() defined in CompareBudgetFunctor. Now we can
                    define as many functors as we'd like and choose the appropriate funtor for each application
                    involving the Movie class
                </p>

                <h4>Functor for primitives</h4>

                <p>
                    Funtors not only give us flexibility in sorting our objects, it also
                    allows to sort primitives without using their predefined less-than operators. In this example we
                    sort
                    ints by absolute value (By inefficiently computer their squares). Since the functor is a class, we
                    can
                    write and call helper functions inside the functor itself. Since operator() is const, all helper
                    functions must also be const.
                </p>
                 <pre class="prettyprint lang-cpp">
class SquareCompare{
private:
    int square(int n) const{
        return n*n;
    }

public:
    bool operator()(const int &int1, const int &int2) const{
        return square(int1) < square(int2);
    }
};
                </pre>


                 <pre class="prettyprint lang-cpp">
set&lt;int, SquareCompare&gt; intSet;
intSet.insert(5);
intSet.insert(-6);
intSet.insert(-2);
intSet.insert(14);
intSet.insert(4);
intSet.insert(-10);
intSet.insert(9);

printDataStructure&lt;set&lt;int, SquareCompare&gt; &gt;(intSet);
                </pre>

                Result:
                <pre>
-2
4
5
-6
9
-10
14
                </pre>

                <h4>Function Comparators</h4>
                <p>
                    Similar to using functors as a template parameter, we can define functions to be used as a function
                    parameter. To do this, we define a comparator as a function with any name we choose:
                </p>
                 <pre class="prettyprint lang-cpp">
bool compareBudgetFunction(const Movie &movie1, const Movie &movie2){
    return movie1.getBudget() < movie2.getBudget();
}
                </pre>

                <p>We can then pass this function as a parameter when sorting a vector</p>

                 <pre class="prettyprint lang-cpp">
bool compareBudgetFunction(const Movie &movie1, const Movie &movie2){
    return movie1.getBudget() < movie2.getBudget();
}
                </pre>

                <p>Revisiting our vector of Movies we can see the usage syntax.</p>
<pre class="prettyprint lang-cpp">
sort(movies.begin(), movies.end(), compareBudgetFunction);
    </pre>
            </div>
        </div>


        <div class="well">
            <h3>Multiset and Multimap</h3>
            <p>When you want to keep duplicates.</p>

            <p>These data structures behave just like set and map, except they allow duplicates to be inserted. Below is
                a complete example showing the difference between a map and a multimap.</p>

            <pre class="prettyprint lang-cpp">
#include &lt;iostream&gt;
#include &lt;map&gt;

using namespace std;

class SquareCompare{
private:
    int square(int n) const{
        return n*n;
    }

public:
    bool operator()(const int &amp;int1, const int &amp;int2) const{
        return square(int1) &lt; square(int2);
    }
};


int main() {

    map&lt;int, string, SquareCompare&gt; noDuplicates;
    multimap&lt;int, string, SquareCompare&gt; keepingDuplicates;

    noDuplicates.insert(make_pair(5, &quot;five&quot;));
    keepingDuplicates.insert(make_pair(5, &quot;five&quot;));

    noDuplicates.insert(make_pair(-5, &quot;minus five&quot;));
    keepingDuplicates.insert(make_pair(-5, &quot;minus five&quot;));

    noDuplicates.insert(make_pair(2, &quot;two&quot;));
    keepingDuplicates.insert(make_pair(2, &quot;two&quot;));

    noDuplicates.insert(make_pair(2, &quot;second 2&quot;));
    keepingDuplicates.insert(make_pair(2, &quot;second 2&quot;));

    noDuplicates.insert(make_pair(10, &quot;ten&quot;));
    keepingDuplicates.insert(make_pair(10, &quot;ten&quot;));

    noDuplicates.insert(make_pair(-9, &quot;minus nine&quot;));
    keepingDuplicates.insert(make_pair(-9, &quot;minus nine&quot;));

    cout &lt;&lt; &quot;map&lt;int, string, SquareCompare&gt;&quot; &lt;&lt; endl;
    for(map&lt;int, string, SquareCompare&gt;::iterator it = noDuplicates.begin();
         it != noDuplicates.end();
         it++){
        cout &lt;&lt; &quot;(&quot; &lt;&lt; (*it).first &lt;&lt; &quot;, &quot; &lt;&lt; (*it).second &lt;&lt; &quot;)&quot; &lt;&lt; endl;
    }

    cout &lt;&lt; endl;
    cout &lt;&lt; &quot;multimap&lt;int, string, SquareCompare&gt;&quot; &lt;&lt; endl;
    for(multimap&lt;int, string, SquareCompare&gt;::iterator it = keepingDuplicates.begin();
         it != keepingDuplicates.end();
         it++){
        cout &lt;&lt; &quot;(&quot; &lt;&lt; (*it).first &lt;&lt; &quot;, &quot; &lt;&lt; (*it).second &lt;&lt; &quot;)&quot; &lt;&lt; endl;
    }

    return 0;
}
    </pre>

            Result:
            <pre>
map&lt;int, string, SquareCompare&gt;
(2, two)
(5, five)
(-9, minus nine)
(10, ten)

multimap&lt;int, string, SquareCompare&gt;
(2, two)
(2, second 2)
(5, five)
(-5, minus five)
(-9, minus nine)
(10, ten)
            </pre>
        </div>
    </div>
</div>
