<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading panel-page-heading"><h1>Connecting to the Web</h1></div>
        </div>
    </div>

    <div class="well"> <!-- well 1 -->


        <div class="well">
            <h2>Questions</h2>
            Submit question here: <a href="http://ubcse.com/CSE250/suggestions.html">http://ubcse.com/CSE250/suggestions.html</a>
        </div>


        <div class="well"> <!-- well 1 -->
            <div class="well">


                <a href="lectures/hashtables.pptx"><h2>Theory Slides</h2></a>

                <br/>
                <br/>

                <a href="lectures/52-HashTable.pptx"><h2>Implementation Slides</h2></a>

                <br/>
                <br/>

                <a href="examples/HashTable.zip"><h2>Hash Function Comparison Examples</h2></a>
                <br/>
                <br/>

                <a href="examples/ObjectHashTable.zip"><h2>Object Hash Set Examples</h2></a>
            </div>

        </div>
    </div>
</div>