<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>Introduction</h1></div>
        </div>
    </div>

    <div class="well outer-well">
        <div class="well">
            <div><h2>Hello World</h2></div>
            <br/>


            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <!--<h4 class="panel-title">-->
                        <!--<a data-toggle="collapse" href="#collapse1">-->
                        #include &lt;iostream&gt;<br/><br/>
                        int main(){<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;std::cout << "hello world!\n";<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;return 0;<br/>
                        }
                        <!--</a>-->
                        <!--</h4>-->
                    </div>
                    <!--<div>-->
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">hello world!<br/></div>
                </div>
                <!--</div>-->
            </div>


        </div>

        <div class="container"></div>

        <div class="well">
            <div><h2>Day 1 Survey</h2></div>
            <br/>

            <!--<div class="container">-->
            <iframe width="100%" height="1000" src="http://www.hartloffwedding.com/CSE250Day1.html"></iframe>
            <!--</div>-->

        </div>
    </div>
</div>
