<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>Iterators</h1></div>
        </div>
    </div>
    <div class="well outer-well">
        <div class="panel panel-default">
            <div class="panel-body" class="sectioncolor">
                <h1><strong><p class="midalign">What is an Iterator?</p></strong></h1>

            </div>

            <div class="panel-body" class="sectioncolor">
                <p>
                    In this lecture we will be learning about <span><strong>Iterators</strong></span>.
                    As with other programming languages, an iterator is an object that allows us to traverse a given
                    data structure/container. In C++, iterators are widely used as part of it's STL and supports several
                    types of iterators such as <span><i><strong>forward</strong></i><span>, <span><i><strong>random
                    access</strong></i></span> and
				<span><i><strong>bidirectional</strong></i></span> iterators. In this lecture we'll focus on iterators through
				vectors and sets.
                </p>
            </div>
        </div>
        <br/>
        <br/>
        <div class="panel panel-default">
            <div class="panel-body" class="sectioncolor">
                <h1><strong><p class="midalign">Vector Iteration:</p></strong></h1>

                <br/>
                <br/>

                <div>
                    <p>
                    <h4>Let's write a simple program to iterate over an stl vector:</h4>
                    <ul>
                        <li>To refer to the first and last elements of an iterator we can use vector
                            <span><strong>begin</strong></span> and <span><strong>end</strong></span></li>
                        <li>Note, that we need to create a specified iterator object pertaining to the given container
                            type.
                        </li>
                    </ul>
                    </p>
                </div>
                <div>

                    <!--********** https://en.wikipedia.org/wiki/Iterator-->
                    <!--<pre>-->
                    <!--// Example program-->
                    <!--#include &lt;iostream&gt;-->
                    <!--#include &lt;string&gt;-->
                    <!--#include &lt;vector&gt;-->

                    <!--int main()-->
                    <!--{-->
                    <!--std::vector&lt;int&gt; items;-->
                    <!--items.push_back(1); // Append integer value '1' to vector 'items'-->
                    <!--items.push_back(2); // Append integer value '2' to vector 'items'-->
                    <!--items.push_back(3); // Append integer value '3' to vector 'items'-->

                    <!--for (std::vector&lt;int&gt;::iterator it = items.begin(); it != items.end(); ++it) { // Iterate through 'items'-->
                    <!--std::cout << *it << "\n"; // And print value of 'items' for current index-->
                    <!--}-->
                    <!--}-->
                    <!---->
                    <!--</pre>-->
                    <!--<p>-->
                    <!--<h4>-->
                    <!--Output:-->
                    <!--</h4>-->
                    <!--</p>-->
                    <!--<pre>-->
                    <!--1-->
                    <!--2-->
                    <!--3					-->
                    <!--</pre>-->
                    <div>
                        <h4><p>*Note that the iterator object created must be specific for the data structure we are
                            traversing.</p></h4>
                        <ul>
                            <li>std::vector&lt;int&gt;::iterator it = items.begin();</li>
                            <li>std::map&lt;char,int&gt;::iterator it = mymap.begin(); (next lecture)</li>
                            <li>std::deque&lt;int&gt;::iterator it = mydeque.begin();</li>
                            <li>Iterators for stacks and queues don't exist so you need to implement this if you deem
                                necessary
                            </li>
                        </ul>
                    </div>
                    <br/>
                    <br/>
                    <center>
                        <table style="width:100%" border="1">
                            <tr><h3>Iterators</h3></tr>

                            <tr>
                                <td><a href="http://www.cplusplus.com/reference/vector/vector/begin/">begin</a></td>
                                <td>Return an iterator to beginning</td>
                            </tr>
                            <tr>
                                <td><a href="http://www.cplusplus.com/reference/vector/vector/end/">end</a></td>
                                <td>Return an iterator to end</td>
                            </tr>
                            <tr>
                                <td><a href="http://www.cplusplus.com/reference/vector/vector/rbegin/">rbegin</td>
                                <td>Return a reverse iterator to reverse beginning</td>
                            </tr>
                            <tr>
                                <td><a href="http://www.cplusplus.com/reference/vector/vector/rend/">rend</td>
                                <td>Return a reverse iterator to reverse end</td>
                            </tr>
                            <tr>
                                <td><a href="http://www.cplusplus.com/reference/vector/vector/cbegin/">cbegin</td>
                                <td>Return a const_iterator to beginning</td>
                            </tr>
                            <tr>
                                <td><a href="http://www.cplusplus.com/reference/vector/vector/cend/">cend</td>
                                <td>Return a const_iterator to end</td>
                            </tr>
                            <tr>
                                <td><a href="http://www.cplusplus.com/reference/vector/vector/crbegin/">crbegin</td>
                                <td>Return a const_reverse_iterator to reverse beginning</td>
                            </tr>
                            <tr>
                                <td><a href="http://www.cplusplus.com/reference/vector/vector/crend/">crend</td>
                                <td>Return a const_reverse_iterator to reverse end</td>
                            </tr>
                        </table>
                    </center>

                    <br/>
                    <br/>
                </div>

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body" class="sectioncolor">
                <h1><strong><p class="midalign">Set Iteration:</p></strong></h1>
            </div>
            <br/>
            <br/>
            <div>
                <p>
                <h4>Let's write a simple program to insert and iterate over an stl set:</h4>
                <ul>
                    <li>To refer to the first and last elements of an iterator we can use sec
                        <span><strong>begin</strong></span> and <span><strong>end</strong></span></li>
                    <li>Similar to iterating through vector</li>
                    <li>Sets in C++ are containers that store elements in a specific order and remove duplicates. *More
                        to come
                    </li>
                </ul>
                </p>
            </div>
            <!--<div>-->

            <!--********** http://www.cplusplus.com/reference/set/set/end/-->
            <!--<pre>-->
            <!--// Example program-->
            <!--#include &lt;iostream&gt;-->
            <!--#include &lt;string&gt;-->
            <!--#include &lt;set&gt;-->

            <!--int main()-->
            <!--{-->
            <!--int myints[] = {75,23,65,42,13};-->
            <!--std::set&lt;int&gt; myset (myints,myints+5);-->

            <!--std::cout << "myset contains:";-->
            <!--for (std::set&lt;int&gt;::iterator it=myset.begin(); it!=myset.end(); ++it)-->
            <!--std::cout << ' ' << *it;-->

            <!--std::cout << '\n';-->

            <!--return 0;-->

            <!--}-->
            <!---->
            <!--</pre>-->
            <!--<p>-->
            <!--<h4>-->
            <!--Output:-->
            <!--</h4>	-->
            <!--</p>			-->
            <!--</div>-->
            <!--</div>	-->
            <!--<pre>-->
            <!--myset contains: 13 23 42 65 75-->

            <!--</pre>-->
            <div>
                <center>
                    <table style="width:100%" border="1">
                        <tr><h3>Set Iterators</h3></tr>

                        <tr>
                            <td><a href="http://www.cplusplus.com/reference/set/set/begin/">begin</a></td>
                            <td>Return an iterator to beginning</td>
                        </tr>
                        <tr>
                            <td><a href="http://www.cplusplus.com/reference/set/set/end/">end</a></td>
                            <td>Return an iterator to end</td>
                        </tr>
                        <tr>
                            <td><a href="http://www.cplusplus.com/reference/set/set/rbegin/">rbegin</td>
                            <td>Return a reverse iterator to reverse beginning</td>
                        </tr>
                        <tr>
                            <td><a href="http://www.cplusplus.com/reference/set/set/rend/">rend</td>
                            <td>Return a reverse iterator to reverse end</td>
                        </tr>
                        <tr>
                            <td><a href="http://www.cplusplus.com/reference/set/set/cbegin/">cbegin</td>
                            <td>Return a const_iterator to beginning</td>
                        </tr>
                        <tr>
                            <td><a href="http://www.cplusplus.com/reference/set/set/rend/">cend</td>
                            <td>Return a const_iterator to end</td>
                        </tr>
                        <tr>
                            <td><a href="http://www.cplusplus.com/reference/set/set/crbegin/">crbegin</td>
                            <td>Return a const_reverse_iterator to reverse beginning</td>
                        </tr>
                        <tr>
                            <td><a href="http://www.cplusplus.com/reference/set/set/crend/">crend</td>
                            <td>Return a const_reverse_iterator to reverse end</td>
                        </tr>
                    </table>
                </center>

            </div>
            <div>
                <br/>
                <br/>
                <h3>
                    <p>
                        Syntax Overview:
                    </p>
                </h3>
            </div>
            <div>
                <ul>
                    <li>* -dereference to get the value of an element</li>
                    <li>* and -> used to reference the element to which an iterator points to</li>
                    <li>++ used as pointer arithmetic to advance the iterator to the next element</li>
                </ul>
            </div>
            <br/>
            <br/>
            <div class="panel panel-default">
                <div class="panel-body" class="sectioncolor">
                    <h1><strong><p class="midalign">Iterator Categories:</p></strong></h1>
                </div>
                <div class="panel-body" class="sectioncolor">
                    <p>
                    <h3>
                        -To fully understand iterators, we need to understand the different iterator categories.
                        These are the two that we will see most often this semester.
                    </h3>
                    </p>
                </div>
                <div class="panel-body" class="sectioncolor">
                    <h3><strong><p>Bidirectional Iterator</p></strong></h3>

                </div>
                <div class="panel-body" class="sectioncolor">
                    <p>
                        -Bidirectional iterators are iterators that can be used to access the sequence of elements
                        in a range in both directions, meaning towards the end or towards the beginning of the
                        data structure. These have the same properties as forward iterators, but can also be
                        decremented.
                    </p>
                </div>
            </div>
            <!--<pre>-->
            <!--// Example program-->
            <!--#include &lt;iostream&gt;-->
            <!--#include &lt;string&gt;-->
            <!--#include &lt;list&gt;-->
            <!---->
            <!--using namespace std;-->
            <!---->
            <!--int main()-->
            <!--{-->
            <!--list&lt;int&gt; lst1(8);-->
            <!---->
            <!--cout <<"\nFirst we enter some integer squares into "-->
            <!--"a list of size 8, and then display: \n";-->
            <!--//Create and initialize an iterator.-->
            <!--list&lt;int&gt;::iterator p = lst1.begin();-->
            <!--int i = 0;-->
            <!---->
            <!--while(p != lst1.end())-->
            <!--{-->
            <!--*p = i*i; //Assign i*i to list lst via iterator p.-->
            <!--p++;      //Advance the iterator **after** using it.-->
            <!--i++;      //Increment the value to be squared.-->
            <!--}-->
            <!--p = lst1.begin();-->
            <!--while(p != lst1.end()) -->
            <!--cout <<*p++<<" ";-->
            <!---->
            <!--cout <<"\nNext we double the values in the list and "-->
            <!--"re-display (backwards this time): \n";-->
            <!--p = lst1.begin();-->
            <!--while(p != lst1.end())-->
            <!--{-->
            <!--*p = *p * 2;-->
            <!--p++;-->
            <!--}-->
            <!--//This time, initialize the iterator to lst1.end().-->
            <!--//And decrement the iterator **before** using it!-->
            <!--p = lst1.end();-->
            <!--while(p != lst1.begin())-->
            <!--cout <<*&#45;&#45;p<<" "; //Note *&#45;&#45;p "idiom".-->
            <!---->
            <!--return 0;-->
            <!--}-->
            <!---->
            <!--</pre>-->
            <!--<p>-->
            <!--<h4>-->
            <!--Output:-->
            <!--</h4>-->
            <!--</p>-->
            <!--<pre>-->

            <!--First we enter some integer squares into a list of size 8, and then display: -->
            <!--0 1 4 9 16 25 36 49 -->
            <!--Next we double the values in the list and re-display (backwards this time): -->
            <!--98 72 50 32 18 8 2 0  -->
            <!--</pre>-->

            <!--</div>-->
            <div class="panel-body" class="sectioncolor">
                <h3><strong><p>Random Access Iterator</p></strong></h3>

                <div class="panel-body" class="sectioncolor">
                    <p>
                        Random access iterators can be used to access elements at an arbitrary offset position
                        relative to the element they point to. They are considered the most "most complete"
                        iterators
                        due to their valid expression set.
                    </p>


                </div>

                <div>

				<pre>
#include &lt;string&gt;
#include &lt;iostream&gt;
#include &lt;vector&gt;
#include &lt;algorithm&gt;

using namespace std;

void printVector(const vector&lt;string&gt;& values){
	for(int i=0; i&lt;values.size(); i++){
		cout << values.at(i) << " ";
	}
	cout << endl;
}

int main(){

	vector&lt;string&gt; strings;

	strings.push_back("going");
	strings.push_back("out");
	strings.push_back("talk");
	strings.insert(strings.begin(), "after");
	strings.push_back("given");
	strings.push_back("someone");

	printVector(strings);

	reverse(strings.begin(), strings.end());

	printVector(strings);

	vector&lt;string&gt; moreStrings;
	moreStrings.push_back("on");
	moreStrings.push_back("talk");
	moreStrings.push_back("let");
	moreStrings.push_back("don't");
	moreStrings.push_back("yours");

	printVector(moreStrings);

	sort(moreStrings.begin(), moreStrings.end());

	printVector(moreStrings);

	strings.insert(strings.end(), moreStrings.begin(), moreStrings.end());

	printVector(strings);

	strings.erase(strings.begin()+2);

	printVector(strings);

	swap(strings[0], strings[5]);
	swap(strings[1], strings[6]);
	swap(strings[2], strings[5]);

	printVector(strings);

	strings.insert(strings.begin()+3, "who");
	swap(strings[4], strings[7]);
	swap(strings[5], strings[8]);
	swap(strings[6], strings[9]);
	swap(strings[7], strings[9]);
	swap(*(strings.end()-2), *(strings.end()-3));

	printVector(strings);

	strings.insert(strings.begin()+4, "has");
	strings.insert(strings.begin()+6, "up");

	printVector(strings);

	string words[2];
	words[1] = "dreams";
	words[0] = "their";
	strings.insert(strings.begin()+8, words, words+2);

	printVector(strings);

	strings.insert(strings.end()-3, "of");
	strings.insert(strings.end()-5, "you");
	(strings.end()-1)->push_back('.');

	char mysteryChar = 45;
	string u = "unknown";
	u.insert(u.begin(), mysteryChar);
	strings.push_back(u);


	printVector(strings);
	return 0;
}
				</pre>

                    <p>
                    <h4>
                        Output:
                    </h4>
                    </p>

			<pre>
after going out talk given someone
someone given talk out going after
on talk let don't yours
don't let on talk yours
someone given talk out going after don't let on talk yours
someone given out going after don't let on talk yours
don't let someone going after out given on talk yours
don't let someone who given on talk out going after yours
don't let someone who has given up on talk out going after yours
don't let someone who has given up on their dreams talk out going after yours
don't let someone who has given up on their dreams talk you out of going after yours. -unknown
			</pre>

                </div>
                <!--
                   <div>
                       -Here is an example where we define our own iterator class.
                       Credit to- <a href="" allthingscomputation.com
                   </div>
                   <div>
                   <pre>
       //Example program
       #include &lt;iostream&gt;
       #include &lt;algorithm&gt;
       #include &lt;cstdlib&gt;
       #include &lt;iterator&gt;

       template <long int T_begin, long int T_end>
       class range_class  {
        public:
          class iterator : public std::iterator<std::random_access_iterator_tag, long int, long int> {
             friend class range_class;
           public:
             long int operator *() const { return i_; }
             const iterator &operator ++() {if(T_begin > T_end ) --i_; else ++i_; return *this; }
             const iterator &operator --() { if(T_begin > T_end ) ++i_; else --i_; return *this; }
             iterator operator ++(int) { iterator copy(*this); if(T_begin > T_end ) --i_;
             else ++i_; return copy; }
             iterator operator --(int) { iterator copy(*this); if(T_begin > T_end ) ++i_;
             else --i_; return copy; }
             iterator & operator =(const iterator & other){ this->i_ =other.i_; return *this;}

             bool operator ==(const iterator &other) const { return i_ == other.i_; }
             bool operator !=(const iterator &other) const { return i_ != other.i_; }
             bool operator  <(const iterator &other) const { return i_< other.i_;}
             bool operator  >(const iterator &other) const { return i_> other.i_;}
             bool operator  <=(const iterator &other) const { return i_<= other.i_;}
             bool operator  >=(const iterator &other) const { return i_>= other.i_;}

             iterator & operator +(const long int &add) const {
                 iterator copy(*this);
                 auto t =  std::abs(T_begin-T_end); auto v = std::abs(this->i_ -T_begin);
                 auto val=  ((v + add)%t)<0? ((v+add)%t) + t:((v + add)%t);
                 if(T_begin>T_end)copy.i_=T_begin-val; else copy.i_=T_begin +val;
                   return copy;
               }
             iterator & operator +=(const long int &add){
                 auto t =  std::abs(T_begin-T_end); auto v = std::abs(this->i_ -T_begin);
                 auto val=  ((v + add)%t)<0? ((v+add)%t) + t:((v + add)%t);
                 if(T_begin>T_end)this->i_=T_begin-val; else this->i_=T_begin +val;
                 return *this;
                 }
             iterator & operator -(const long int &add) const {iterator copy(*this);
              auto t =  std::abs(T_begin-T_end); auto v = std::abs(this->i_ -T_begin);
             auto val=  ((v - add)%t)<0? ((v-add)%t) + t:((v - add)%t);
             if(T_begin>T_end)copy.i_=T_begin-val;else copy.i_=T_begin +val;
             return copy;}

             iterator & operator -=(const long int &add) {
              auto t =  std::abs(T_begin-T_end); auto v = std::abs(this->i_ -T_begin);
             auto val=  ((v - add)%t)<0? ((v-add)%t) + t:((v - add)%t);
             if(T_begin>T_end)this->i_=T_begin-val;else this->i_=T_begin +val;
             return *this;}

             long int & operator [](const long int &n) const{
                  auto t =  std::abs(T_begin-T_end); auto v = std::abs(this->i_ -T_begin);
                   auto val=  ((v + n)%t)<0? ((v+ n)%t) + t: ((v + n)%t);
                    if(T_begin>T_end)return (T_begin-val);else return(T_begin +val);
             }

           protected:
             iterator(long int start) : i_ (start) { }

           private:
             unsigned long i_;
          };

          iterator begin() const { return iterator(T_begin); }
          iterator end() const { return iterator(T_end); }
       };

       template <long int T_begin, long int T_end>
       const range_class<T_begin, T_end>
       range()
       {
          return range_class<T_begin, T_end>();
       }

       int main()
       {
          std::cout << "Hello World" << std::endl;
          for (auto i: range<10, -1>()) {
           // stuff with i
           std::cout << i<<std::endl;
       }
        auto one=range<10,-1>();
          std::cout<<std::accumulate(one.begin(),one.end(),0)<<std::endl;
          return 0;
       }

                   </pre>

                   </div>
               </div>
               <div>
               <p>
               <h4>
               Output:
               </h4>
               </p>

                   <pre>
       Hello World
       10
       9
       8
       7
       6
       5
       4
       3
       2
       1
       0
       55
                   </pre>
               -->
            </div>
            <h3>Upcoming: Set and Map Usage </h3>
        </div>
    </div>
</div>