<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading panel-page-heading"><h1>Connecting to the Web</h1></div>
        </div>
    </div>

    <div class="well"> <!-- well 1 -->


        <div class="well">
            <h2>Questions</h2>
            Submit question here: <a href="http://ubcse.com/CSE250/suggestions.html">http://ubcse.com/CSE250/suggestions.html</a>
        </div>


        <div class="well"> <!-- well 1 -->
            <div class="well">
                <h2>HTTP - Hypertext Transfer Protocol</h2>
                <p>
                    Wikipedia: <a href="https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol">https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol</a>.
                </p>

                <br/>
                <p>
                    In this lecture we will explore:
                </p>
                <ul>
                    <li>HTTP</li>
                    <li>HTTP - GET</li>
                    <li>HTTP - POST</li>
                    <li>Web API's</li>
                </ul>


                <br/>

                <h3>Overview</h3>
                <p>
                    Going to a site requests a file called "index.html". This file can have links to other files (Style
                    sheet, javascript files, Bootstrap, images, etc). All those are then also requested through HTTP.

                    HTTP follows a stateless Client-Server model.

                    <!--Request-Response model.-->

                    <!--.-->

                    <!--The browser runs everything on the clients machine.-->

                    <!--There is a server (computer) at google that has a file for the web site that is sent to you.-->
                </p>

            </div>
            <div class="well">
                <h3>Internet Protocol (IP) addresses</h3>
                <p>
                    The address of a specific computer on the Internet. Consists of 4 numbers ranging 0-255
                    separated by dots.

                    If a computer is a server, it is waiting for a client to connect to it so it can serve some
                    information.

                    Each machine also has many ports for communication. To request web content, connect to a server
                    on port 80. This means the server is hosting the information for the Internet.

                    What happens when you go to google.com.

                    Port 80 for web sites

                    <a href="http://63.117.68.52:80">http://63.117.68.52:80</a>
                </p>
                <p>
                    What's my IP:
                    <a href="https://www.google.com/search?q=whats+my+ip">https://www.google.com/search?q=whats+my+ip</a>
                </p>
            </div>

            <!--<div class="well">-->

            <!--<h4>Stateless</h4>-->
            <!--<p>-->

            <!--</p>-->
            <!--</div>-->


            <div class="well">

                <h3>HTTP - GET</h3>
                <p>
                    Using GET request the web server for information. Most ubiquitously we will request HTML files to be
                    displayed in our browser. When we enter the following link in our browser or click the link, we are
                    making a GET request.
                </p>

                <p>
                <h3 class="text-center">
                    <a href="http://stackoverflow.com/">http://stackoverflow.com/</a>
                </h3></p><br/>

                <p>
                    This will send a GET request to the web server named stackoverflow.com (104.16.35.249:80). By
                    default most web servers will look for a file named index.html and send that to the requester. This
                    File may include links to many other files that must also be retrieved. For each of these file, a
                    new GET request will be made for the given url. For example, in our Bootstrap example we added the
                    following lines in the head of our HTML file to get Bootstrap to work.

                </p>
                <div>
        <pre>
&lt;link rel=&quot;stylesheet&quot; href=&quot;http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css&quot;&gt;
&lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js&quot;&gt;&lt;/script&gt;
</pre>
                </div>
                <p>
                    What this does is create 3 new GET requests to the urls given in the href anf src properties. In
                    these cases, the server is not sending back an HTML file to be displayed in the browser but instead
                    is sending a CSS file and two JavaScript files. The files are downloaded and stored on your computer
                    to be used by the site you are viewing.
                </p>

                <p>
                    The same is true for other dependencies such as images. When the following code is interpreted by a
                    browser
                </p>
                <div>
        <pre>
&lt;img src=&quot;images/password_strength.png&quot; class=&quot;img-responsive&quot;&gt;
                </pre>
                </div>
                <p>
                    A new GET request is sent to the server to request the file "images/password_strength.png" which is
                    then displayed on the page. If the image is not returned by the server, the might be a broken image
                    displayed instead.
                </p>

                <p>
                    This request might run a script and return results of the program.
                </p>
                <!--Can have parameters-->
                <!--That ? in some addresses (Including this course site). Follows the format-->
                <!--*?property1-value1&property2=value2-->

                <!--If the URL is a script, this is like making a function call with parameters of your choosing.-->
                <!--</p>-->
                <!--Let's take another look at that Google search linked to earlier-->

                <!--<a href="https://www.google.com/search?q=whats+my+ip">https://www.google.com/search?q=whats+my+ip</a>-->
                <!--<br/><br/>-->
                <!--<h4>Web cache</h4>-->
                <!--<p>-->
                <!--Stores files locally instead of requesting them constantly. You have many websites stored on-->
                <!--your-->
                <!--computer.-->

                <!--This is why you have to hit refresh on pages that update regularly, or establish a connection.-->
                <!--If-->
                <!--you establish a connection the server can send updates.-->
                <!--</p>-->

            </div>

            <div class="well">

                <h3>HTTP - POST</h3>
                <p>
                    Using a GET request works well for retrieving data from a site, but if we want to send data we will
                    usually use a POST request. In a POST request, the data we send does not show in the url itself, but
                    is embedded in the body of the HTTP request. This is used to send larger pieces of data to the
                    server
                    such as form data or files.
                </p>
            </div>


            <div class="well">

                <h3>Status Codes</h3>
                <p>
                    When a request is made to a web server, the reply will contain a status code to communicate the
                    status
                    of the result.

                    In general, the first number in each code defines its category:
                </p>
                <ul>
                    <li>1: Information</li>
                    <li>2: Success</li>
                    <li>3: Redirect</li>
                    <li>4: Client error</li>
                    <li>5: Server error</li>
                </ul>
                <p>
                    You may have seen the following HTTP status code "404: File not found" meaning that The file asked
                    for
                    does not exist on the server.
                </p>
            </div>

            <div class="well">

                <h3>Web API's</h3>
                <p>
                    There are many ways we can access data on the Internet. Most commonly, this means opening up a web
                    page in a web browser to view their interpreted HTML/CSS/JavaScript.
                </p>
                <p>
                <h3 class="text-center">
                    <a href="http://finance.yahoo.com/q">http://finance.yahoo.com/q</a>
                </h3></p><br/>
                <p>
                    This link does not contain much information, but we can add GET parameters to retrieve specific
                    data from the site. Let's use this page to check the financial state
                    of Alphabet Inc. by adding its ticker symbol as a parameter "s=goog" in our Yahoo
                    Finance example. This site expect a parameter "s" that is set to the value of the ticker symbol in
                    question.
                </p>
                <p>
                <h3 class="text-center">
                    <a href="http://finance.yahoo.com/q?s=goog">http://finance.yahoo.com/q?s=goog</a>
                </h3></p><br/>
                <p>
                    In this way, we can use url parameters to request specific data. These parameters can also be added
                    by
                    using the search bar on the Yahoo Finance page. As another example, watch what happens to the url
                    when
                    you make a Google search.
                </p>
                <p>
                    By accessing information in this way, the information is displayed in a way that is pleasing to the
                    human eye, but what if it's not a human reading the information? What if we want to write software
                    that
                    can process information from the Internet for us? Many web services offer a way to access their data
                    and
                    utilize there servers in a way that is machine friendly, but not necessarily digestible for humans.
                    This
                    can be very useful while we write software that uses live data from these sites.
                </p>

                <p>
                    If we go to the following link, we will not be greeted with a web a site, but instead we will
                    download a
                    file. This is a similar search to the one we did before, but instead of accessing a web site that
                    displays the information from "finance.yahoo.com/q" we will access the raw data in a csv file
                    through
                    "download.finance.yahoo.com/d/quotes.csv".
                </p>
                <p>
                <h3 class="text-center">
                    <a href="http://download.finance.yahoo.com/d/quotes.csv?s=GOOG&f=sl1">
                        http://download.finance.yahoo.com/d/quotes.csv?s=GOOG&f=sl1
                    </a>
                </h3></p><br/>

                <p>
                    This data can then be parsed and processed with the software we write to work with live data (15
                    minutes
                    delayed in this case) from the Internet. To implement this example in python3 we can run the
                    following
                    code.
                </p>
                    <pre>
import urllib.request
theRequest = "http://finance.yahoo.com/d/quotes.csv?s=GOOG&f=sl1n"
result = urllib.request.urlopen(theRequest)
print(result.read().decode('utf-8'))
            </pre>

                <div class="alert alert-info">The urllib library is not supported by the in-browser python interpreter.
                </div>

                <p>
                    Notice that we have an additional parameter when accessing information this way in the "f" variable.
                    This variable specifies the information that we want to know about the ticker symbol "s". This
                    variable
                    takes multiple values that are concatenated with no separator. In this example, we ask for the
                    symbol
                    "s", the last trade price "l1", and the name of the organization "n".</p>
                <p>
                    For a list of variables that can be used in the "f" variable in this API see this page: <a
                        href="http://www.jarloo.com/yahoo_finance/">http://www.jarloo.com/yahoo_finance/</a>
                </p>


            </div>

            <div class="well">
                <a href="examples/apiCalls.zip"><h2>Code From Live Examples</h2></a>
            </div>

        </div>
    </div>
</div>